@import url(./notosansjapanese.css);

body {
  font-family: "Noto Sans Japanese", "SF Pro Text", "SF Pro Icons",
    "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

header {
  background-color: #FFFFFF;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

footer {
  background-color: #FFFFFF;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.table_footer_main {
  border-collapse: collapse;
  border:1px solid;
}

.table_footer {
  border-collapse: collapse;
  border:1px solid;
  width: 8%;
}

/* 父面白 */
.table_footer_FO {
  background: linear-gradient(135deg, #cfe7f5 00%, #cfe7f5 50%, #b6ffbd 50%, #b6ffbd 100%);
  border:1px solid;
  width: 18%;
}

/* 父見事 */
.table_footer_FM {
  background: linear-gradient(135deg, #cfe7f5 00%, #cfe7f5 50%, #fffcaa 50%, #fffcaa 100%);
  border:1px solid;
  width: 18%;
}

/* 母面白 */
.table_footer_MO {
  background: linear-gradient(135deg, #f3a68c 00%, #f3a68c 50%, #b6ffbd 50%, #b6ffbd 100%);
  border:1px solid;
}

/* 理論ヘッダ */
.table_footer_TH_theory {
  background: #bbb;
  border:1px solid;
}

/* 相性ヘッダ */
.table_footer_TH_Compatibility {
  background: #bbb;
  border:1px solid;
}



.table_main {
  border-collapse: collapse;
}

.horse_all {
  border-bottom: 1px solid #bbb;
}


.father_0 {
  background-color: #3e499c;
  color: #FFFFFF;
  text-shadow:
    1px 1px 0px #000000,
    -1px 1px 0px #000000,
    1px -1px 0px #000000,
    -1px -1px 0px #000000,
    1px 0px 0px #000000,
    0px 1px 0px #000000,
    -1px 0px 0px #000000,
    0px -1px 0px #000000;
  /* 文字の影 */
  border-bottom: 0px solid #3e499c;
  border-top: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  vertical-align: middle;
  font-size: small;
  text-align: center;
  font-weight: bold;
}

.father {
  background-color: #3e499c;
  color: #FFFFFF;
  text-shadow:
    1px 1px 0px #000000,
    -1px 1px 0px #000000,
    1px -1px 0px #000000,
    -1px -1px 0px #000000,
    1px 0px 0px #000000,
    0px 1px 0px #000000,
    -1px 0px 0px #000000,
    0px -1px 0px #000000;
  /* 文字の影 */
  border-bottom: none;
  border-top: 1px solid #FFFFFF;
  vertical-align: middle;
  font-size: small;
  text-align: center;
  font-weight: bold;
}

.father_1 {
  background-color: #3e499c;
  color: #FFFFFF;
  text-shadow:
    1px 1px 0px #000000,
    -1px 1px 0px #000000,
    1px -1px 0px #000000,
    -1px -1px 0px #000000,
    1px 0px 0px #000000,
    0px 1px 0px #000000,
    -1px 0px 0px #000000,
    0px -1px 0px #000000;
  /* 文字の影 */
  border-top: none;
  border-right: 1px solid #FFFFFF;
  vertical-align: middle;
  font-size: small;
  text-align: center;
  font-weight: bold;
}

.mother_0 {
  background-color: #b34e5f;
  color: #FFFFFF;
  text-shadow:
    1px 1px 0px #000000,
    -1px 1px 0px #000000,
    1px -1px 0px #000000,
    -1px -1px 0px #000000,
    1px 0px 0px #000000,
    0px 1px 0px #000000,
    -1px 0px 0px #000000,
    0px -1px 0px #000000;
  /* 文字の影 */
  border-bottom: 0px solid #b34e5f;
  border-top: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  vertical-align: middle;
  font-size: small;
  text-align: center;
  font-weight: bold;
}

.mother {
  background-color: #b34e5f;
  color: #FFFFFF;
  text-shadow:
    1px 1px 0px #000000,
    -1px 1px 0px #000000,
    1px -1px 0px #000000,
    -1px -1px 0px #000000,
    1px 0px 0px #000000,
    0px 1px 0px #000000,
    -1px 0px 0px #000000,
    0px -1px 0px #000000;
  /* 文字の影 */
  border-bottom: none;
  border-top: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  vertical-align: middle;
  font-size: small;
  text-align: center;
  font-weight: bold;
}

.mother_1 {
  background-color: #b34e5f;
  color: #FFFFFF;
  text-shadow:
    1px 1px 0px #000000,
    -1px 1px 0px #000000,
    1px -1px 0px #000000,
    -1px -1px 0px #000000,
    1px 0px 0px #000000,
    0px 1px 0px #000000,
    -1px 0px 0px #000000,
    0px -1px 0px #000000;
  /* 文字の影 */
  border-top: none;
  border-right: 1px solid #FFFFFF;
  vertical-align: middle;
  font-size: small;
  text-align: center;
  font-weight: bold;
}

.factor {
  border: none;
  border-bottom: 1px solid #DDDDDD;
}

.factor_horse {
  border: none;
  border-bottom: 1px solid #DDDDDD;
}

.factor_AliceBlue {
  background: #cfe7f5;
  border: none;
  border-bottom: 1px solid #DDDDDD;
}

.factor_SalmonPink {
  background: #f3a68c;
  border: none;
  border-bottom: 1px solid #DDDDDD;
}


.factor_omoshiro {
  background: #b6ffbd;
  border: none;
  border-bottom: 1px solid #DDDDDD;
}

.factor_migoto {
  background: #fffcaa;
  border: none;
  border-bottom: 1px solid #DDDDDD;
}

/* ���� */
.horse {
  border-right: none;
  font-weight: bold;
}

.horse_0 {
  border-left: none;
  border-right: none;
  font-size: 10px;
}

.horse_1 {
  border-left: none;
  border-right: none;
  font-weight: bold;
}

/* �Y��������q������Ƃ� */
.horse_R0 {
  border-left: none;
  border-right: none;
  font-weight: bold;
  color: #e2041b;
}


/* 背景 */
.AliceBlue {
  background: #cfe7f5;
  border-right: none;
  font-size: 10px;
}

.SalmonPink {
  background: #f3a68c;
  border-right: none;
  font-size: 10px;
}

.Broodmare {
  background: linear-gradient(135deg, #fffcaa 00%, #fffcaa 70%, #b6ffbd 50%, #b6ffbd 100%);
  border-right: none;
  font-size: 10px;
}

.omoshiro {
  background: #b6ffbd;
  border-right: none;
  font-weight: bold;
}

.omoshiro_0 {
  background: #b6ffbd;
  border-right: none;
  font-size: 10px;
}

.omoshiro_1 {
  background: #b6ffbd;
  border-right: none;
  border-left: none;
  text-align: left;
  font-weight: bold;
}

.omoshiro_2 {
  background: #b6ffbd;
  border-right: none;
  border-left: none;
  text-align: center;
  font-weight: bold;
}

.omoshiro_R0 {
  background: #b6ffbd;
  border-right: none;
  font-weight: bold;
  color: #e2041b;
}

.omoshiro_R2 {
  background: #b6ffbd;
  border-right: none;
  border-left: none;
  text-align: center;
  font-weight: bold;
  color: #e2041b;
}


.migoto {
  background: #fffcaa;
  border-right: none;
  font-weight: bold;
}

.migoto_0 {
  background: #fffcaa;
  border-right: none;
  font-size: 10px;
}

.migoto_1 {
  background: #fffcaa;
  border-left: none;
  border-right: none;
  text-align: right;
  font-weight: bold;
}

.migoto_R0 {
  background: #fffcaa;
  border-right: none;
  font-weight: bold;
  color: #e2041b;
}

.migoto_R1 {
  background: #fffcaa;
  border-left: none;
  border-right: none;
  text-align: right;
  font-weight: bold;
  color: #e2041b;
}

.factor_icn {

  padding: 3px;
  text-align: right;
}

.factor_value {
  text-align: right;
}

table.pedigree,
table.horse_spec,
div.horse_spec {
  border: #DDDDDD 1px solid;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 20px;
}

.styleFactorClassMain {
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #DDDDDD;
}

/*短*/
.f01 {
  color: #000000;
  /* 文字の影 */
  background: #fdfd00;
  text-shadow:
    1px 1px 0px #ffffff,
    -1px 1px 0px #ffffff,
    1px -1px 0px #ffffff,
    -1px -1px 0px #ffffff,
    1px 0px 0px #ffffff,
    0px 1px 0px #ffffff,
    -1px 0px 0px #ffffff,
    0px -1px 0px #ffffff;
}

/*速*/
.f02 {
  color: #000000;
  /* 文字の影 */
  background: #fdfda2;
  text-shadow:
    1px 1px 0px #ffffff,
    -1px 1px 0px #ffffff,
    1px -1px 0px #ffffff,
    -1px -1px 0px #ffffff,
    1px 0px 0px #ffffff,
    0px 1px 0px #ffffff,
    -1px 0px 0px #ffffff,
    0px -1px 0px #ffffff;
}

/*底*/
.f03 {
  color: #000000;
  /* 文字の影 */
  background: #fc6e00;
  text-shadow:
    1px 1px 0px #ffffff,
    -1px 1px 0px #ffffff,
    1px -1px 0px #ffffff,
    -1px -1px 0px #ffffff,
    1px 0px 0px #ffffff,
    0px 1px 0px #ffffff,
    -1px 0px 0px #ffffff,
    0px -1px 0px #ffffff;
}

/*長*/
.f04 {
  color: #000000;
  /* 文字の影 */
  background: #03fdfd;
  text-shadow:
    1px 1px 0px #ffffff,
    -1px 1px 0px #ffffff,
    1px -1px 0px #ffffff,
    -1px -1px 0px #ffffff,
    1px 0px 0px #ffffff,
    0px 1px 0px #ffffff,
    -1px 0px 0px #ffffff,
    0px -1px 0px #ffffff;
}

/*砂*/
.f05 {
  color: #000000;
  /* 文字の影 */
  background: #fddba5;
  text-shadow:
    1px 1px 0px #ffffff,
    -1px 1px 0px #ffffff,
    1px -1px 0px #ffffff,
    -1px -1px 0px #ffffff,
    1px 0px 0px #ffffff,
    0px 1px 0px #ffffff,
    -1px 0px 0px #ffffff,
    0px -1px 0px #ffffff;
}

/*丈*/
.f06 {
  color: #000000;
  /* �����̐F */
  background: #feabdd;
  text-shadow:
    1px 1px 0px #ffffff,
    -1px 1px 0px #ffffff,
    1px -1px 0px #ffffff,
    -1px -1px 0px #ffffff,
    1px 0px 0px #ffffff,
    0px 1px 0px #ffffff,
    -1px 0px 0px #ffffff,
    0px -1px 0px #ffffff;
  /* �����̉e */
}

/*早*/
.f07 {
  color: #000000;
  /* �����̐F */
  background: #02fe02;
  text-shadow:
    1px 1px 0px #ffffff,
    -1px 1px 0px #ffffff,
    1px -1px 0px #ffffff,
    -1px -1px 0px #ffffff,
    1px 0px 0px #ffffff,
    0px 1px 0px #ffffff,
    -1px 0px 0px #ffffff,
    0px -1px 0px #ffffff;
  /* �����̉e */
}

/*晩*/
.f08 {
  color: #000000;
  /* �����̐F */
  background: #a7de0d;
  text-shadow:
    1px 1px 0px #ffffff,
    -1px 1px 0px #ffffff,
    1px -1px 0px #ffffff,
    -1px -1px 0px #ffffff,
    1px 0px 0px #ffffff,
    0px 1px 0px #ffffff,
    -1px 0px 0px #ffffff,
    0px -1px 0px #ffffff;
  /* �����̉e */
}

/*堅*/
.f09 {
  color: #000000;
  /* �����̐F */
  background: #a1a1a3;
  text-shadow:
    1px 1px 0px #ffffff,
    -1px 1px 0px #ffffff,
    1px -1px 0px #ffffff,
    -1px -1px 0px #ffffff,
    1px 0px 0px #ffffff,
    0px 1px 0px #ffffff,
    -1px 0px 0px #ffffff,
    0px -1px 0px #ffffff;
  /* �����̉e */
}

/*難*/
.f10 {
  color: #000000;
  /* �����̐F */
  background: #fc00fc;
  text-shadow:
    1px 1px 0px #ffffff,
    -1px 1px 0px #ffffff,
    1px -1px 0px #ffffff,
    -1px -1px 0px #ffffff,
    1px 0px 0px #ffffff,
    0px 1px 0px #ffffff,
    -1px 0px 0px #ffffff,
    0px -1px 0px #ffffff;
  /* �����̉e */
}

.Ec{
  background-color: white;
  text-align: center;
  padding: 0px;
  padding-left: 0px;
  font-size: 20px;
  font-size: clamp(15px, 1vw, 15px);
}
.Ph{
  background-color: lightsteelblue;
  text-align: center;
  padding: 0px;
  padding-left: 0px;
  font-size: 20px;
  font-size: clamp(15px, 1vw, 15px);
}
.Ns{
  background-color: mediumaquamarine;
  text-align: center;
  padding: 0px;
  padding-left: 0px;
  font-size: 20px;
  font-size: clamp(15px, 1vw, 15px);
}
.Ro{
  background-color: lightpink;
  text-align: center;
  padding: 0px;
  padding-left: 0px;
  font-size: 20px;
  font-size: clamp(15px, 1vw, 15px);
}
.Ne{
  background-color: yellow;
  text-align: center;
  padding: 0px;
  padding-left: 0px;
  font-size: 20px;
  font-size: clamp(15px, 1vw, 15px);
}
.Na{
  background-color: lightskyblue;
  text-align: center;
  padding: 0px;
  padding-left: 0px;
  font-size: 20px;
  font-size: clamp(15px, 1vw, 15px);
}
.Fa{
  background-color: khaki;
  text-align: center;
  padding: 0px;
  padding-left: 0px;
  font-size: 20px;
  font-size: clamp(15px, 1vw, 15px);
}
.To{
  background-color: orange;
  border-color: black;
  text-align: center;
  color: white;
  padding: 0px;
  padding-left: 0px;
  font-size: 20px;
  font-size: clamp(15px, 1vw, 15px);
}
.Te{
  background-color: purple;
  border-color: black;
  text-align: center;
  color: white;
  padding: 0px;
  padding-left: 0px;
  font-size: 20px;
  font-size: clamp(15px, 1vw, 15px);
}
.Sw{
  background-color: peachpuff;
  text-align: center;
  padding: 0px;
  padding-left: 0px;
  font-size: 20px;
  font-size: clamp(15px, 1vw, 15px);
}
.Ha{
  background-color: chartreuse;
  text-align: center;
  padding: 0px;
  padding-left: 0px;
  font-size: 20px;
  font-size: clamp(15px, 1vw, 15px);
}
.Hi{
  background-color: mediumblue;
  text-align: center;
  color: white;
  border-color: black;
  padding: 0px;
  padding-left: 0px;
  font-size: 20px;
  font-size: clamp(15px, 1vw, 15px);
}
.St{
  background-color: slateblue;
  text-align: center;
  color: white;
  border-color:  black;
  padding: 0px;
  padding-left: 0px;
  font-size: 20px;
  font-size: clamp(15px, 1vw, 15px);
}
.Ma{
  background-color: darkorchid;
  text-align: center;
  border-color:  black;
  color: white;
  padding: 0px;
  padding-left: 0px;
  font-size: 20px;
  font-size: clamp(15px, 1vw, 15px);
}
.He{
  background-color: aqua;
  text-align: center;
  padding: 0px;
  padding-left: 0px;
  font-size: 20px;
  font-size: clamp(15px, 1vw, 15px);
}
.UndefinedGr{
  background-color: white;
  text-align: center;
  border-color:  black;
  color: white;
  padding: 0px;
  padding-left: 0px;
}
.inbleed{
  color: red;
  font-weight: bolder;
  border: solid black !important;
}
.outbleed{
  color: black;
  font-weight: normal;
  text-shadow: 0px 0px 0px;
  border: solid;
}

/*理論なし*/
.mating0{
  color: black;
  background-color: white;
  font-weight: bold;
}
/*面白*/
.mating1{
  color: black;
  font-weight: bold;
  background: 
    -moz-radial-gradient(
      dimgray,
      gray
      ); 
  background: 
    -webkit-radial-gradient(
      dimgray,
      gray
    ); 
  background: 
    radial-gradient(
      dimgray,
      gray
    ); 
}
/*よくでき*/
.mating2{
  color: black;
  font-weight: bold;
  background: 
    -moz-linear-gradient(
      to right top,
      coral,
      coral
      ); 
  background: 
    -webkit-linear-gradient(
      to right top,
      coral,
      coral
    ); 
  background: 
    linear-gradient(
      to right top,
      coral,
      coral
    ); 
}
/*面白よくでき*/
.mating3{
  color: black;
  font-weight: bold;
  background: 
    -moz-linear-gradient(
      to right top,
      gray,
      coral
      ); 
  background: 
    -webkit-linear-gradient(
      to right top,
      gray,
      coral
      ); 
  background: 
    linear-gradient(
      to right top,
      gray,
      coral
      ); 
}
/*見事*/
.mating4{
  color: black;
  font-weight: bold;
  background: 
    -moz-linear-gradient(
      to right top,
      #E2D06E,
      #E2D06E
      ); 
  background: 
    -webkit-linear-gradient(
      to right top,
      #E2D06E,
      #E2D06E
      ); 
  background: 
    linear-gradient(
      to right top,
      #E2D06E,
      #E2D06E
      ); 
}
/*完璧*/
.mating5{
  color: black;
  font-weight: bold;
  background: 
    -moz-linear-gradient(
      to right top,
      #8DC799,
      #C3E19C 7%,
      #FFF39B 17%,
      #F09C75 32%,
      #EC9EBD 56%,
      #8F82BA 72%,
      #7DCCF2
      ); 
  background: 
    -webkit-linear-gradient(
      to right top,
      #8DC799,
      #C3E19C 7%,
      #FFF39B 17%,
      #F09C75 32%,
      #EC9EBD 56%,
      #8F82BA 72%,
      #7DCCF2
      ); 
  background: 
    linear-gradient(
      to right top,
      #8DC799,
      #C3E19C 7%,
      #FFF39B 17%,
      #F09C75 32%,
      #EC9EBD 56%,
      #8F82BA 72%,
      #7DCCF2
      ); 
}
/*危険*/
.mating6{
  color: black;
  font-weight: bold;
  background: 
    -moz-linear-gradient(
      to right top,
      red,
      red
      ); 
  background: 
    -webkit-linear-gradient(
      to right top,
      red,
      red
      ); 
  background: 
    linear-gradient(
      to right top,
      red,
      red
      ); 
}
/*超完璧*/
.mating7{
  color: Black;
  font-weight: bold;
  background: 
    -moz-linear-gradient(
      to right top,
      #807597,
      #0D0D2C 13%,
      #4D5084 22%,
      #A59CAE 30%,
      #FFFFFF 40%,
      #A59CAE 60%,
      #4D5084 78%,
      #0D0D2C 87%,
      #807597
      ); 
  background: 
    -webkit-linear-gradient(
      to right top,
      #807597,
      #0D0D2C 13%,
      #4D5084 22%,
      #A59CAE 30%,
      #FFFFFF 40%,
      #A59CAE 60%,
      #4D5084 78%,
      #0D0D2C 87%,
      #807597
      ); 
  background: 
    linear-gradient(
      to right top,
      #807597,
      #0D0D2C 13%,
      #4D5084 22%,
      #A59CAE 30%,
      #FFFFFF 40%,
      #A59CAE 60%,
      #4D5084 78%,
      #0D0D2C 87%,
      #807597
      ); 
}
.boundary_bold{
  text-shadow:
  white 1px 1px 1px,
  white 1px -1px 1px,
  white -1px 1px 1px,
  white -1px -1px 1px;
}
.boundary_bold_black{
  text-shadow:
  dimgray 1px 1px 1px,
  dimgray 1px -1px 1px,
  dimgray -1px 1px 1px,
  dimgray -1px -1px 1px;
}