<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <!-- 端末のダークモード設定を無視して常にライト表示にする -->
    <meta name="color-scheme" content="light only" />
    <title>ダビふぁく</title>
    <link rel="manifest" href="./manifest.json" />
    <link href="./css/loading.css" type="text/css" rel="stylesheet" />
    <link href="./css/style.css" type="text/css" rel="stylesheet" />
    <link href="./css/factor-dialog.css" type="text/css" rel="stylesheet" />
    <link href="./css/combinationDialog.css" type="text/css" rel="stylesheet" />

    <!-- <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    /> -->
    <link
      href="./css/materialdesignicons.min.css"
      type="text/css"
      rel="stylesheet"
    />
    <link
      href="./css/vuetify_compact.min.css"
      type="text/css"
      rel="stylesheet"
    />
    <link href="./css/mobile.css" type="text/css" rel="stylesheet" />
    <link rel="icon" href="./favicon.ico" sizes="any" />
    <!-- 32×32 -->
    <link rel="apple-touch-icon" href="./apple-touch-icon.png" />
    <!-- 180×180 -->
    <meta name="mobile-web-app-capable" content="yes" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"
    />
  </head>

  <body>
    <!-- ローディングアニメーション↓ -->
    <div id="loader">
      <div class="spinner">
        <div class="cube1"></div>
        <div class="cube2"></div>
      </div>
    </div>
    <!-- ローディングアニメーション↑ -->

    <!-- 非同期処理が完了した後に表示するコンテンツ -->
    <v-app id="app" :class="{ 'exp-mobile-layout': isCompactMobileLayout }">
      <header ref="appHeader">
        <table width="100%" style="border-collapse: collapse">
          <tbody v-if="$vuetify.breakpoint.mdAndUp">
            <tr>
              <th rowspan="3" class="f00_nitro_space"></th>
              <th width="1%" rowspan="3" class="f00_nitro">
                <span>ニトロ</span>
              </th>
              <th colspan="14" class="f00_nitro_header"></th>
              <th rowspan="3" class="f00_inbreed_space"></th>
              <th width="1%" rowspan="3" class="f00_inbreed" @click="handleClick()">
                <span>クロス</span>
              </th>
              <th colspan="14" class="f00_inbreed_header"></th>
              <th v-if="dispCategory % 2 === 0" rowspan="2" class="table_footer_TH_theory">理論</th>
              <th v-else rowspan="2" class="table_footer_TH_theory">子系統数</th>
              <th
                rowspan="3"
                width="3%"
                :style="combinationCellStyle"
                @click="handleCombinationCellClick"
              >
                <v-icon size="x-large" color="white">mdi-horse-variant</v-icon>
              </th>
              <th
                rowspan="3"
                width="3%"
                @click="initializer()"
                style="background-color: #aa0000; cursor: pointer"
              >
                <v-icon size="x-large" color="white">mdi-reload</v-icon>
              </th>
            </tr>
            <tr class="f00">
              <th width="1%" class="f01">短</th>
              <th class="f02">速</th>
              <th class="f03">底</th>
              <th class="f04">長</th>
              <th class="f11">走</th>
              <th class="f12">中</th>
              <th class="f13">強</th>
              <th class="f14">雷</th>
              <th class="f09">堅</th>
              <th class="f10">難</th>
              <th class="f05">適</th>
              <th class="f06">丈</th>
              <th class="f07">早</th>
              <th class="f08">晩</th>
              <th class="f01">短</th>
              <th class="f02">速</th>
              <th class="f03">底</th>
              <th class="f04">長</th>
              <th class="f11">走</th>
              <th class="f12">中</th>
              <th class="f13">強</th>
              <th class="f14">雷</th>
              <th class="f09">堅</th>
              <th class="f10">難</th>
              <th class="f05">適</th>
              <th class="f06">丈</th>
              <th class="f07">早</th>
              <th class="f08">晩</th>
            </tr>
            <tr>
              <th class="factorNumCell">{{factorNumtoString[0]}}</th>
              <th class="factorNumCell">{{factorNumtoString[1]}}</th>
              <th class="factorNumCell">{{factorNumtoString[2]}}</th>
              <th class="factorNumCell">{{factorNumtoString[3]}}</th>
              <th class="factorNumCell">{{factorNumtoString[10]}}</th>
              <th class="factorNumCell">{{factorNumtoString[11]}}</th>
              <th class="factorNumCell">{{factorNumtoString[12]}}</th>
              <th class="factorNumCell">{{factorNumtoString[13]}}</th>
              <th class="factorNumCell">{{factorNumtoString[8]}}</th>
              <th class="factorNumCell">{{factorNumtoString[9]}}</th>
              <th class="factorNumCell">{{factorNumtoString[4]}}</th>
              <th class="factorNumCell">{{factorNumtoString[5]}}</th>
              <th class="factorNumCell">{{factorNumtoString[6]}}</th>
              <th class="factorNumCell">{{factorNumtoString[7]}}</th>
              <th class="factorNumCell">{{inbreedFactorNumtoString[0]}}</th>
              <th class="factorNumCell">{{inbreedFactorNumtoString[1]}}</th>
              <th class="factorNumCell">{{inbreedFactorNumtoString[2]}}</th>
              <th class="factorNumCell">{{inbreedFactorNumtoString[3]}}</th>
              <th class="factorNumCell">{{inbreedFactorNumtoString[10]}}</th>
              <th class="factorNumCell">{{inbreedFactorNumtoString[11]}}</th>
              <th class="factorNumCell">{{inbreedFactorNumtoString[12]}}</th>
              <th class="factorNumCell">{{inbreedFactorNumtoString[13]}}</th>
              <th class="factorNumCell">{{inbreedFactorNumtoString[8]}}</th>
              <th class="factorNumCell">{{inbreedFactorNumtoString[9]}}</th>
              <th class="factorNumCell">{{inbreedFactorNumtoString[4]}}</th>
              <th class="factorNumCell">{{inbreedFactorNumtoString[5]}}</th>
              <th class="factorNumCell">{{inbreedFactorNumtoString[6]}}</th>
              <th class="factorNumCell">{{inbreedFactorNumtoString[7]}}</th>
              <th v-if="dispCategory % 2 === 0" :class="styleThoeryClass"></th>
              <th v-else >{{categoryNumtoString}}</th>
            </tr>
          </tbody>

          <tbody v-if="$vuetify.breakpoint.smAndDown">
            <tr>
              <td colspan="2" class="exp-mobile-screenshot-cell">
                <button
                  type="button"
                  class="exp-mobile-screenshot-button"
                  :disabled="isCapturingScreenshot"
                  aria-label="Save screenshot"
                  title="Save screenshot"
                  data-html2canvas-ignore="true"
                  @click.stop.prevent="captureMobileScreenshot"
                >
                  <v-icon small color="white">mdi-camera</v-icon>
                </button>
              </td>
              <td class="f01">短</td>
              <td class="f02">速</td>
              <td class="f03">底</td>
              <td class="f04">長</td>
              <td class="f11">走</td>
              <td class="f12">中</td>
              <td class="f13">強</td>
              <td class="f14">雷</td>
              <td class="f09">堅</td>
              <td class="f10">難</td>
              <td class="f05">適</td>
              <td class="f06">丈</td>
              <td class="f07">早</td>
              <td class="f08">晩</td>
              <th v-if="dispCategory % 2 === 0" class="f00_theory">理論</th>
              <th v-else class="f00_theory">子系統</th>
            </tr>
            <tr class="mobile-nitro-header-row">
              <td colspan="16" class="f00_nitro_header"></td>
              <td v-if="dispCategory % 2 === 0" rowspan="2" :class="['mobile-nitro-rowspan', styleThoeryClass]" align="center"></td>
              <td v-else rowspan="2" align="center" class="mobile-nitro-rowspan">{{categoryNumtoString}}</td>

            </tr>
            <tr class="mobile-nitro-value-row">
              <td class="f00_nitro" colspan="2">ニトロ</td>
              <td class="factorNumCell">{{factorNumtoString[0]}}</td>
              <td class="factorNumCell">{{factorNumtoString[1]}}</td>
              <td class="factorNumCell">{{factorNumtoString[2]}}</td>
              <td class="factorNumCell">{{factorNumtoString[3]}}</td>
              <td class="factorNumCell">{{factorNumtoString[10]}}</td>
              <td class="factorNumCell">{{factorNumtoString[11]}}</td>
              <td class="factorNumCell">{{factorNumtoString[12]}}</td>
              <td class="factorNumCell">{{factorNumtoString[13]}}</td>
              <td class="factorNumCell">{{factorNumtoString[8]}}</td>
              <td class="factorNumCell">{{factorNumtoString[9]}}</td>
              <td class="factorNumCell">{{factorNumtoString[4]}}</td>
              <td class="factorNumCell">{{factorNumtoString[5]}}</td>
              <td class="factorNumCell">{{factorNumtoString[6]}}</td>
              <td class="factorNumCell">{{factorNumtoString[7]}}</td>
            </tr>
            <tr class="mobile-cross-header-row">
              <td colspan="16" class="f00_inbreed_header"></td>
              <td v-if="dispCategory % 2 === 0" rowspan="2" @click="initializer()" class="mobile-cross-rowspan" style="background-color: #aa0000" align="center"><v-icon size="large" color="white">mdi-reload</v-icon></td>
              <td
                v-else
                rowspan="2"
                :style="combinationCellStyle"
                align="center"
                class="mobile-cross-rowspan"
                @click="handleCombinationCellClick"
              ><v-icon size="large" color="white">mdi-horse-variant</v-icon></td>
            </tr>
            <tr class="mobile-cross-value-row">
              <td colspan="2" class="f00_inbreed">クロス</td>
              <td class="factorNumCell">{{inbreedFactorNumtoString[0]}}</td>
              <td class="factorNumCell">{{inbreedFactorNumtoString[1]}}</td>
              <td class="factorNumCell">{{inbreedFactorNumtoString[2]}}</td>
              <td class="factorNumCell">{{inbreedFactorNumtoString[3]}}</td>
              <td class="factorNumCell">{{inbreedFactorNumtoString[10]}}</td>
              <td class="factorNumCell">{{inbreedFactorNumtoString[11]}}</td>
              <td class="factorNumCell">{{inbreedFactorNumtoString[12]}}</td>
              <td class="factorNumCell">{{inbreedFactorNumtoString[13]}}</td>
              <td class="factorNumCell">{{inbreedFactorNumtoString[8]}}</td>
              <td class="factorNumCell">{{inbreedFactorNumtoString[9]}}</td>
              <td class="factorNumCell">{{inbreedFactorNumtoString[4]}}</td>
              <td class="factorNumCell">{{inbreedFactorNumtoString[5]}}</td>
              <td class="factorNumCell">{{inbreedFactorNumtoString[6]}}</td>
              <td class="factorNumCell">{{inbreedFactorNumtoString[7]}}</td>
            </tr>            <!-- ここから下がいらない -->
          </tbody>
        </table>
      </header>

      <!-- 配合保存ダイアログ -->
      <combination-dialog
        v-model="combinationDialogVisible"
        :all-horses-set="allHorsesSet"
        @restore="onCombinationRestore"
      ></combination-dialog>

      <!-- detail（血統）取得失敗時の再試行メッセージ -->
      <v-snackbar
        v-model="horseDetailError.show"
        :timeout="4000"
        color="error"
        top
      >
        {{ horseDetailError.message }}
        <template v-slot:action="{ attrs }">
          <v-btn text v-bind="attrs" @click="horseDetailError.show = false">
            閉じる
          </v-btn>
        </template>
      </v-snackbar>


      <main ref="appMain">
        <v-container fluid>
          <v-spacer class="my-1 px-0 mx-0 my-0" />
          <v-row class="mx-1" align-content="center">
            <!-- <v-spacer class="my-1 px-0 mx-0 my-0" /> -->
            <!-- xsを設定できないので↓のようなカンジで -->
            <pedigree-card
              side="stallion"
              :rows="rowConfigs"
              :row-states="stallionRowStates"
              :horse-options="horseSelectionOptions"
              :display-options="rowDisplayOptions"
              @inbreed-toggle="onRowInbreedToggle"
              @manual-factor-update="onRowManualFactorUpdate"
              @toggle-category="handleClick"
            ></pedigree-card>
            <!-- xsを設定できないので↓のようなカンジで -->
            <pedigree-card
              side="broodmare"
              :rows="rowConfigsBloodmare"
              :row-states="broodmareRowStates"
              :horse-options="horseSelectionOptions"
              :display-options="rowDisplayOptions"
              @inbreed-toggle="onRowInbreedToggle"
              @manual-factor-update="onRowManualFactorUpdate"
              @toggle-category="handleClick"
            ></pedigree-card>
          </v-row>
        </v-container>
      </main>
    </v-app>
  </body>

  <script src="./vue/vue.min.js"></script>
  <script src="./vue/logic/storage/combination-storage.js"></script>
  <script src="./vue/CombinationDialog.js"></script>
  <script src="./vue/vuetify.js"></script>
  <script src="./vue/factor-dialog.js"></script>

  <script src="./vue/constants/pedigree-indexes.js"></script>
  <script src="./vue/constants/parent-lines.js"></script>
  <script src="./vue/constants/factor-definitions.js"></script>
  <script src="./vue/logic/pedigree/pedigree-css.js"></script>
  <script src="./vue/logic/factor/factor-map.js"></script>
  <script src="./vue/logic/factor/factor-counts.js"></script>
  <script src="./vue/logic/factor/manual-factors.js"></script>
  <script src="./vue/logic/pedigree/row-configs.js"></script>
  <script src="./vue/logic/pedigree/pedigree-selection.js"></script>
  <script src="./vue/logic/horses/horse-search.js"></script>
  <script src="./vue/logic/storage/local-storage.js"></script>
  <script src="./vue/logic/theory/compatibility.js"></script>
  <script src="./vue/logic/pedigree/pedigree-builder.js"></script>
  <script src="./vue/logic/inbreed/inbreed-exceptions.js"></script>
  <script src="./vue/logic/inbreed/inbreed-detector.js"></script>
  <script src="./vue/logic/inbreed/inbreed-counts.js"></script>
  <script src="./vue/components/pedigree/memo-cell.js"></script>
  <script src="./vue/components/pedigree/desktop-horse-autocomplete.js"></script>
  <script src="./vue/components/pedigree/mobile-horse-picker.js"></script>
  <script src="./vue/components/pedigree/horse-cell.js"></script>
  <script src="./vue/components/pedigree/pedigree-row.js"></script>
  <script src="./vue/components/pedigree/pedigree-table.js"></script>
  <script src="./vue/components/pedigree/pedigree-card.js"></script>

  <script src="./vue/app/app-state.js"></script>
  <script src="./vue/app/app-computed.js"></script>
  <script src="./vue/app/app-lifecycle.js"></script>
  <script src="./vue/app/methods/ui-viewport.js"></script>
  <script src="./vue/app/methods/combination.js"></script>
  <script src="./vue/app/methods/horse-loading.js"></script>
  <script src="./vue/app/methods/bootstrap.js"></script>
  <script src="./vue/app/methods/selection.js"></script>
  <script src="./vue/app/methods/inbreed-ui.js"></script>
  <script src="./vue/app/methods/pedigree-cells.js"></script>

  <script>
    //loadingAnimation
    const INITIAL_LOADER_FAILSAFE_MS = 4000;

    function hideInitialLoader() {
      const loader = document.getElementById("loader");
      if (!loader || loader.classList.contains("loaded")) {
        return;
      }
      loader.classList.add("loaded");
    }

    function scheduleInitialLoaderHide() {
      if (typeof window.requestAnimationFrame !== "function") {
        setTimeout(hideInitialLoader, 0);
        return;
      }
      window.requestAnimationFrame(() => {
        window.requestAnimationFrame(hideInitialLoader);
      });
    }

    // vue/app/app-lifecycle.js の mounted() から、このモジュールスコープ関数を
    // 呼べるようにする（外部ファイルからは bare 参照できないため）。
    window.Dabimas = window.Dabimas || {};
    window.Dabimas.boot = window.Dabimas.boot || {};
    window.Dabimas.boot.scheduleInitialLoaderHide = scheduleInitialLoaderHide;

    window.addEventListener("load", () => {
      setTimeout(scheduleInitialLoaderHide, 600);
    }, { once: true });

    setTimeout(hideInitialLoader, INITIAL_LOADER_FAILSAFE_MS);

    // service workerの登録関係
    let swRegistrationPromise = null;

    function updateServiceWorker(registration) {
      if (!registration) {
        return Promise.resolve(null);
      }

      return registration
        .update()
        .then(function () {
          return registration;
        })
        .catch(function (err) {
          console.log("ServiceWorker update check failed: ", err);
          return registration;
        });
    }

    function registerServiceWorker() {
      if (
        !("serviceWorker" in navigator) ||
        !(location.protocol === "http:" || location.protocol === "https:") ||
        !navigator.onLine
      ) {
        return Promise.resolve(null);
      }

      if (!swRegistrationPromise) {
        swRegistrationPromise = navigator.serviceWorker
          .register("./service-worker.js", { updateViaCache: "none" })
          .then(function (registration) {
            console.log(
              "ServiceWorker registration successful with scope: ",
              registration.scope
            );
            return registration;
          })
          .catch(function (err) {
            console.log("ServiceWorker registration failed: ", err);
            swRegistrationPromise = null;
            return null;
          });
      }

      return swRegistrationPromise.then(function (registration) {
        return updateServiceWorker(registration);
      });
    }

    registerServiceWorker();

    var ua = navigator.userAgent.toLowerCase();
    var isiOS = ua.indexOf("iphone") > -1 || ua.indexOf("ipad") > -1;
    if (isiOS) {
      var viewport = document.querySelector('meta[name="viewport"]');
      if (viewport) {
        var viewportContent = viewport.getAttribute("content");
        viewport.setAttribute(
          "content",
          viewportContent + ", user-scalable=no"
        );
      }
    }

    // 血統表の行位置に関する定数は vue/constants/pedigree-indexes.js に外部化済み。
    const INDEX_GENERATION_ASSIGNMENTS = window.Dabimas.constants.pedigreeIndexes.INDEX_GENERATION_ASSIGNMENTS;
    const INDEX_TO_ROW_NUMBER = window.Dabimas.constants.pedigreeIndexes.INDEX_TO_ROW_NUMBER;
    const ROWS_PER_SIDE = window.Dabimas.constants.pedigreeIndexes.ROWS_PER_SIDE;

    // 始祖リストは vue/constants/parent-lines.js に外部化済み（現状 index.html からは未参照）。
    const founder = window.Dabimas.constants.parentLines.FOUNDER;
    // 因子名→コードの変換Mapは vue/logic/factor/factor-map.js で生成済みのものを使う。
    const factorMap = window.Dabimas.logic.factor.factorMap;
    // 手動因子で選べる因子名一覧は vue/constants/factor-definitions.js に外部化済み。
    const manualFactorOptions = window.Dabimas.constants.factorDefinitions.MANUAL_FACTOR_OPTIONS;
    const MANUAL_INBREED_STORAGE_KEY = "dabimasManualInbreed";
    // 検索文字列の正規化・絞り込みは vue/logic/horses/horse-search.js に外部化済み
    // （horseSearchIndexCache もそちら側に移動済み）。

    // generateUuid は vue/logic/pedigree/pedigree-builder.js に外部化済み
    // （setDataForPedigree からしか使われていなかったため、一緒に移動）。


    // パフォーマンス最適化設定
    Vue.config.performance = true;
    Vue.config.productionTip = false;

    // 選択のたびに走る計測ログ（onChangeMain等のconsole.time）はここで止める。
    // 計測したい時だけ devtools から window.Dabimas.debug = true にして再実行する。
    window.Dabimas = window.Dabimas || {};
    window.Dabimas.debug = window.Dabimas.debug || false;

    // Phase 4（root app 分割）の足場。methods はここへ段階的に外部化していく
    // （vue/app/methods/*.js が Object.assign 先として使う）。
    window.Dabimas.app = window.Dabimas.app || {};
    window.Dabimas.app.methods = window.Dabimas.app.methods || {};

    // 実機デバッグ用の一時計測: 通常は捕まえていない例外/rejectionも
    // 画面上部の赤いメッセージ欄（horseDetailError）に出して、devtoolsが無い
    // 端末でも原因文言を直接読めるようにする。
    var __debugAppInstance = null;
    window.addEventListener("error", function (event) {
      if (__debugAppInstance && typeof __debugAppInstance.notifyHorseDetailError === "function") {
        __debugAppInstance.notifyHorseDetailError(
          "DEBUG error: " + (event.message || "unknown") + " @ " + (event.filename || "") + ":" + (event.lineno || "")
        );
      }
    });
    window.addEventListener("unhandledrejection", function (event) {
      if (__debugAppInstance && typeof __debugAppInstance.notifyHorseDetailError === "function") {
        var reason = event.reason;
        var msg = reason && reason.message ? reason.message : String(reason);
        __debugAppInstance.notifyHorseDetailError("DEBUG rejection: " + msg);
      }
    });

    __debugAppInstance = new Vue({
      el: "#app",
      vuetify: new Vuetify(),

      data() {
        return window.Dabimas.app.createInitialState();
      },
      computed: window.Dabimas.app.computed,
      watch: window.Dabimas.app.watch,

      created: window.Dabimas.app.lifecycle.created,
      mounted: window.Dabimas.app.lifecycle.mounted,
      beforeDestroy: window.Dabimas.app.lifecycle.beforeDestroy,

      methods: Object.assign({}, window.Dabimas.app.methods, {
      }),
    });
  </script>
</html>
<!--
【最適化のまとめ】
このファイルは元のindex.htmlから以下の最適化を行っています：

1. 繰り返し計算のキャッシュ化
   - cell_id + sex * 16 → cellIndex, sexOffset として事前計算
   - factorCd[index]、factors 配列などの事前取得

2. 配列検索の最適化
   - cell_id_que.indexOf(cell_id) の重複呼び出しを排除
   - ループインデックスを直接使用

3. 不要な配列コピーの削減
   - Array.from() の不要な使用を削除
   - スプレッド演算子の代わりに push() を使用
   - 空配列の再利用

4. ループの最適化
   - for...of → for (let i = 0; ...) でインデックス直接利用
   - map → forEach（戻り値不要の場合）
   - while ループ内の indexOf 最適化

これらの最適化により、処理速度が30-50%程度向上すると期待されます。
特にsetPedigree関数、restoreInputData関数、getCellIdQue関数で大きな効果があります。
-->
