<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <!-- 端末のダークモード設定を無視して常にライト表示にする -->
    <meta name="color-scheme" content="light only" />
    <title>ダビふぁく</title>
    <link rel="manifest" href="./manifest.json" />
    <link href="./css/loading.css" type="text/css" rel="stylesheet" />
    <link href="./css/style.css" type="text/css" rel="stylesheet" />
    <link href="./css/factor-dialog.css" type="text/css" rel="stylesheet" />
    <link href="./css/combinationDialog.css" type="text/css" rel="stylesheet" />

    <!-- <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    /> -->
    <link
      href="./css/materialdesignicons.min.css"
      type="text/css"
      rel="stylesheet"
    />
    <link
      href="./css/vuetify_compact.min.css"
      type="text/css"
      rel="stylesheet"
    />
    <link href="./css/mobile.css" type="text/css" rel="stylesheet" />
    <link rel="icon" href="./favicon.ico" sizes="any" />
    <!-- 32×32 -->
    <link rel="apple-touch-icon" href="./apple-touch-icon.png" />
    <!-- 180×180 -->
    <meta name="mobile-web-app-capable" content="yes" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"
    />
  </head>

  <body>
    <!-- ローディングアニメーション↓ -->
    <div id="loader">
      <div class="spinner">
        <div class="cube1"></div>
        <div class="cube2"></div>
      </div>
    </div>
    <!-- ローディングアニメーション↑ -->

    <!-- 非同期処理が完了した後に表示するコンテンツ -->
    <v-app id="app" :class="{ 'exp-mobile-layout': isCompactMobileLayout }">
      <header ref="appHeader">
        <table width="100%" style="border-collapse: collapse">
          <tbody v-if="$vuetify.breakpoint.mdAndUp">
            <tr>
              <th rowspan="3" class="f00_nitro_space"></th>
              <th width="1%" rowspan="3" class="f00_nitro">
                <span>ニトロ</span>
              </th>
              <th colspan="14" class="f00_nitro_header"></th>
              <th rowspan="3" class="f00_inbreed_space"></th>
              <th width="1%" rowspan="3" class="f00_inbreed" @click="handleClick()">
                <span>クロス</span>
              </th>
              <th colspan="14" class="f00_inbreed_header"></th>
              <th v-if="dispCategory % 2 === 0" rowspan="2" class="table_footer_TH_theory">理論</th>
              <th v-else rowspan="2" class="table_footer_TH_theory">子系統数</th>
              <th
                rowspan="3"
                width="3%"
                :style="combinationCellStyle"
                @click="handleCombinationCellClick"
              >
                <v-icon size="x-large" color="white">mdi-horse-variant</v-icon>
              </th>
              <th
                rowspan="3"
                width="3%"
                @click="initializer()"
                style="background-color: #aa0000; cursor: pointer"
              >
                <v-icon size="x-large" color="white">mdi-reload</v-icon>
              </th>
            </tr>
            <tr class="f00">
              <th width="1%" class="f01">短</th>
              <th class="f02">速</th>
              <th class="f03">底</th>
              <th class="f04">長</th>
              <th class="f11">走</th>
              <th class="f12">中</th>
              <th class="f13">強</th>
              <th class="f14">雷</th>
              <th class="f09">堅</th>
              <th class="f10">難</th>
              <th class="f05">適</th>
              <th class="f06">丈</th>
              <th class="f07">早</th>
              <th class="f08">晩</th>
              <th class="f01">短</th>
              <th class="f02">速</th>
              <th class="f03">底</th>
              <th class="f04">長</th>
              <th class="f11">走</th>
              <th class="f12">中</th>
              <th class="f13">強</th>
              <th class="f14">雷</th>
              <th class="f09">堅</th>
              <th class="f10">難</th>
              <th class="f05">適</th>
              <th class="f06">丈</th>
              <th class="f07">早</th>
              <th class="f08">晩</th>
            </tr>
            <tr>
              <th class="factorNumCell">{{factorNumtoString[0]}}</th>
              <th class="factorNumCell">{{factorNumtoString[1]}}</th>
              <th class="factorNumCell">{{factorNumtoString[2]}}</th>
              <th class="factorNumCell">{{factorNumtoString[3]}}</th>
              <th class="factorNumCell">{{factorNumtoString[10]}}</th>
              <th class="factorNumCell">{{factorNumtoString[11]}}</th>
              <th class="factorNumCell">{{factorNumtoString[12]}}</th>
              <th class="factorNumCell">{{factorNumtoString[13]}}</th>
              <th class="factorNumCell">{{factorNumtoString[8]}}</th>
              <th class="factorNumCell">{{factorNumtoString[9]}}</th>
              <th class="factorNumCell">{{factorNumtoString[4]}}</th>
              <th class="factorNumCell">{{factorNumtoString[5]}}</th>
              <th class="factorNumCell">{{factorNumtoString[6]}}</th>
              <th class="factorNumCell">{{factorNumtoString[7]}}</th>
              <th class="factorNumCell">{{inbreedFactorNumtoString[0]}}</th>
              <th class="factorNumCell">{{inbreedFactorNumtoString[1]}}</th>
              <th class="factorNumCell">{{inbreedFactorNumtoString[2]}}</th>
              <th class="factorNumCell">{{inbreedFactorNumtoString[3]}}</th>
              <th class="factorNumCell">{{inbreedFactorNumtoString[10]}}</th>
              <th class="factorNumCell">{{inbreedFactorNumtoString[11]}}</th>
              <th class="factorNumCell">{{inbreedFactorNumtoString[12]}}</th>
              <th class="factorNumCell">{{inbreedFactorNumtoString[13]}}</th>
              <th class="factorNumCell">{{inbreedFactorNumtoString[8]}}</th>
              <th class="factorNumCell">{{inbreedFactorNumtoString[9]}}</th>
              <th class="factorNumCell">{{inbreedFactorNumtoString[4]}}</th>
              <th class="factorNumCell">{{inbreedFactorNumtoString[5]}}</th>
              <th class="factorNumCell">{{inbreedFactorNumtoString[6]}}</th>
              <th class="factorNumCell">{{inbreedFactorNumtoString[7]}}</th>
              <th v-if="dispCategory % 2 === 0" :class="styleThoeryClass"></th>
              <th v-else >{{categoryNumtoString}}</th>
            </tr>
          </tbody>

          <tbody v-if="$vuetify.breakpoint.smAndDown">
            <tr>
              <td colspan="2" class="exp-mobile-screenshot-cell">
                <button
                  type="button"
                  class="exp-mobile-screenshot-button"
                  :disabled="isCapturingScreenshot"
                  aria-label="Save screenshot"
                  title="Save screenshot"
                  data-html2canvas-ignore="true"
                  @click.stop.prevent="captureMobileScreenshot"
                >
                  <v-icon small color="white">mdi-camera</v-icon>
                </button>
              </td>
              <td class="f01">短</td>
              <td class="f02">速</td>
              <td class="f03">底</td>
              <td class="f04">長</td>
              <td class="f11">走</td>
              <td class="f12">中</td>
              <td class="f13">強</td>
              <td class="f14">雷</td>
              <td class="f09">堅</td>
              <td class="f10">難</td>
              <td class="f05">適</td>
              <td class="f06">丈</td>
              <td class="f07">早</td>
              <td class="f08">晩</td>
              <th v-if="dispCategory % 2 === 0" class="f00_theory">理論</th>
              <th v-else class="f00_theory">子系統</th>
            </tr>
            <tr class="mobile-nitro-header-row">
              <td colspan="16" class="f00_nitro_header"></td>
              <td v-if="dispCategory % 2 === 0" rowspan="2" :class="['mobile-nitro-rowspan', styleThoeryClass]" align="center"></td>
              <td v-else rowspan="2" align="center" class="mobile-nitro-rowspan">{{categoryNumtoString}}</td>

            </tr>
            <tr class="mobile-nitro-value-row">
              <td class="f00_nitro" colspan="2">ニトロ</td>
              <td class="factorNumCell">{{factorNumtoString[0]}}</td>
              <td class="factorNumCell">{{factorNumtoString[1]}}</td>
              <td class="factorNumCell">{{factorNumtoString[2]}}</td>
              <td class="factorNumCell">{{factorNumtoString[3]}}</td>
              <td class="factorNumCell">{{factorNumtoString[10]}}</td>
              <td class="factorNumCell">{{factorNumtoString[11]}}</td>
              <td class="factorNumCell">{{factorNumtoString[12]}}</td>
              <td class="factorNumCell">{{factorNumtoString[13]}}</td>
              <td class="factorNumCell">{{factorNumtoString[8]}}</td>
              <td class="factorNumCell">{{factorNumtoString[9]}}</td>
              <td class="factorNumCell">{{factorNumtoString[4]}}</td>
              <td class="factorNumCell">{{factorNumtoString[5]}}</td>
              <td class="factorNumCell">{{factorNumtoString[6]}}</td>
              <td class="factorNumCell">{{factorNumtoString[7]}}</td>
            </tr>
            <tr class="mobile-cross-header-row">
              <td colspan="16" class="f00_inbreed_header"></td>
              <td v-if="dispCategory % 2 === 0" rowspan="2" @click="initializer()" class="mobile-cross-rowspan" style="background-color: #aa0000" align="center"><v-icon size="large" color="white">mdi-reload</v-icon></td>
              <td
                v-else
                rowspan="2"
                :style="combinationCellStyle"
                align="center"
                class="mobile-cross-rowspan"
                @click="handleCombinationCellClick"
              ><v-icon size="large" color="white">mdi-horse-variant</v-icon></td>
            </tr>
            <tr class="mobile-cross-value-row">
              <td colspan="2" class="f00_inbreed">クロス</td>
              <td class="factorNumCell">{{inbreedFactorNumtoString[0]}}</td>
              <td class="factorNumCell">{{inbreedFactorNumtoString[1]}}</td>
              <td class="factorNumCell">{{inbreedFactorNumtoString[2]}}</td>
              <td class="factorNumCell">{{inbreedFactorNumtoString[3]}}</td>
              <td class="factorNumCell">{{inbreedFactorNumtoString[10]}}</td>
              <td class="factorNumCell">{{inbreedFactorNumtoString[11]}}</td>
              <td class="factorNumCell">{{inbreedFactorNumtoString[12]}}</td>
              <td class="factorNumCell">{{inbreedFactorNumtoString[13]}}</td>
              <td class="factorNumCell">{{inbreedFactorNumtoString[8]}}</td>
              <td class="factorNumCell">{{inbreedFactorNumtoString[9]}}</td>
              <td class="factorNumCell">{{inbreedFactorNumtoString[4]}}</td>
              <td class="factorNumCell">{{inbreedFactorNumtoString[5]}}</td>
              <td class="factorNumCell">{{inbreedFactorNumtoString[6]}}</td>
              <td class="factorNumCell">{{inbreedFactorNumtoString[7]}}</td>
            </tr>            <!-- ここから下がいらない -->
          </tbody>
        </table>
      </header>

      <!-- 配合保存ダイアログ -->
      <combination-dialog
        v-model="combinationDialogVisible"
        :all-horses-set="allHorsesSet"
        @restore="onCombinationRestore"
      ></combination-dialog>

      <!-- detail（血統）取得失敗時の再試行メッセージ -->
      <v-snackbar
        v-model="horseDetailError.show"
        :timeout="4000"
        color="error"
        top
      >
        {{ horseDetailError.message }}
        <template v-slot:action="{ attrs }">
          <v-btn text v-bind="attrs" @click="horseDetailError.show = false">
            閉じる
          </v-btn>
        </template>
      </v-snackbar>


      <main ref="appMain">
        <v-container fluid>
          <v-spacer class="my-1 px-0 mx-0 my-0" />
          <v-row class="mx-1" align-content="center">
            <!-- <v-spacer class="my-1 px-0 mx-0 my-0" /> -->
            <!-- xsを設定できないので↓のようなカンジで -->
            <pedigree-card
              side="stallion"
              :rows="rowConfigs"
              :row-states="stallionRowStates"
              :horse-options="horseSelectionOptions"
              :display-options="rowDisplayOptions"
              @inbreed-toggle="onRowInbreedToggle"
              @manual-factor-update="onRowManualFactorUpdate"
              @toggle-category="handleClick"
            ></pedigree-card>
            <!-- xsを設定できないので↓のようなカンジで -->
            <pedigree-card
              side="broodmare"
              :rows="rowConfigsBloodmare"
              :row-states="broodmareRowStates"
              :horse-options="horseSelectionOptions"
              :display-options="rowDisplayOptions"
              @inbreed-toggle="onRowInbreedToggle"
              @manual-factor-update="onRowManualFactorUpdate"
              @toggle-category="handleClick"
            ></pedigree-card>
          </v-row>
        </v-container>
      </main>
    </v-app>
  </body>

  <script src="./vue/vue.min.js"></script>
  <script src="./vue/logic/storage/combination-storage.js"></script>
  <script src="./vue/CombinationDialog.js"></script>
  <script src="./vue/vuetify.js"></script>
  <script src="./vue/factor-dialog.js"></script>

  <script src="./vue/constants/pedigree-indexes.js"></script>
  <script src="./vue/constants/parent-lines.js"></script>
  <script src="./vue/constants/factor-definitions.js"></script>
  <script src="./vue/logic/pedigree/pedigree-css.js"></script>
  <script src="./vue/logic/factor/factor-map.js"></script>
  <script src="./vue/logic/factor/factor-counts.js"></script>
  <script src="./vue/logic/factor/manual-factors.js"></script>
  <script src="./vue/logic/pedigree/row-configs.js"></script>
  <script src="./vue/logic/pedigree/pedigree-selection.js"></script>
  <script src="./vue/logic/horses/horse-search.js"></script>
  <script src="./vue/logic/storage/local-storage.js"></script>
  <script src="./vue/logic/theory/compatibility.js"></script>
  <script src="./vue/logic/pedigree/pedigree-builder.js"></script>
  <script src="./vue/logic/inbreed/inbreed-exceptions.js"></script>
  <script src="./vue/logic/inbreed/inbreed-detector.js"></script>
  <script src="./vue/logic/inbreed/inbreed-counts.js"></script>
  <script src="./vue/components/pedigree/memo-cell.js"></script>
  <script src="./vue/components/pedigree/desktop-horse-autocomplete.js"></script>
  <script src="./vue/components/pedigree/mobile-horse-picker.js"></script>
  <script src="./vue/components/pedigree/horse-cell.js"></script>
  <script src="./vue/components/pedigree/pedigree-row.js"></script>
  <script src="./vue/components/pedigree/pedigree-table.js"></script>
  <script src="./vue/components/pedigree/pedigree-card.js"></script>

  <script src="./vue/app/methods/ui-viewport.js"></script>
  <script src="./vue/app/methods/combination.js"></script>
  <script src="./vue/app/methods/horse-loading.js"></script>
  <script src="./vue/app/methods/bootstrap.js"></script>

  <script>
    //loadingAnimation
    const INITIAL_LOADER_FAILSAFE_MS = 4000;

    function hideInitialLoader() {
      const loader = document.getElementById("loader");
      if (!loader || loader.classList.contains("loaded")) {
        return;
      }
      loader.classList.add("loaded");
    }

    function scheduleInitialLoaderHide() {
      if (typeof window.requestAnimationFrame !== "function") {
        setTimeout(hideInitialLoader, 0);
        return;
      }
      window.requestAnimationFrame(() => {
        window.requestAnimationFrame(hideInitialLoader);
      });
    }

    window.addEventListener("load", () => {
      setTimeout(scheduleInitialLoaderHide, 600);
    }, { once: true });

    setTimeout(hideInitialLoader, INITIAL_LOADER_FAILSAFE_MS);

    // service workerの登録関係
    let swRegistrationPromise = null;

    function updateServiceWorker(registration) {
      if (!registration) {
        return Promise.resolve(null);
      }

      return registration
        .update()
        .then(function () {
          return registration;
        })
        .catch(function (err) {
          console.log("ServiceWorker update check failed: ", err);
          return registration;
        });
    }

    function registerServiceWorker() {
      if (
        !("serviceWorker" in navigator) ||
        !(location.protocol === "http:" || location.protocol === "https:") ||
        !navigator.onLine
      ) {
        return Promise.resolve(null);
      }

      if (!swRegistrationPromise) {
        swRegistrationPromise = navigator.serviceWorker
          .register("./service-worker.js", { updateViaCache: "none" })
          .then(function (registration) {
            console.log(
              "ServiceWorker registration successful with scope: ",
              registration.scope
            );
            return registration;
          })
          .catch(function (err) {
            console.log("ServiceWorker registration failed: ", err);
            swRegistrationPromise = null;
            return null;
          });
      }

      return swRegistrationPromise.then(function (registration) {
        return updateServiceWorker(registration);
      });
    }

    registerServiceWorker();

    var ua = navigator.userAgent.toLowerCase();
    var isiOS = ua.indexOf("iphone") > -1 || ua.indexOf("ipad") > -1;
    if (isiOS) {
      var viewport = document.querySelector('meta[name="viewport"]');
      if (viewport) {
        var viewportContent = viewport.getAttribute("content");
        viewport.setAttribute(
          "content",
          viewportContent + ", user-scalable=no"
        );
      }
    }

    // 血統表の行位置に関する定数は vue/constants/pedigree-indexes.js に外部化済み。
    const INDEX_GENERATION_ASSIGNMENTS = window.Dabimas.constants.pedigreeIndexes.INDEX_GENERATION_ASSIGNMENTS;
    const INDEX_TO_ROW_NUMBER = window.Dabimas.constants.pedigreeIndexes.INDEX_TO_ROW_NUMBER;
    const ROWS_PER_SIDE = window.Dabimas.constants.pedigreeIndexes.ROWS_PER_SIDE;

    // 始祖リストは vue/constants/parent-lines.js に外部化済み（現状 index.html からは未参照）。
    const founder = window.Dabimas.constants.parentLines.FOUNDER;
    // 因子名→コードの変換Mapは vue/logic/factor/factor-map.js で生成済みのものを使う。
    const factorMap = window.Dabimas.logic.factor.factorMap;
    // 手動因子で選べる因子名一覧は vue/constants/factor-definitions.js に外部化済み。
    const manualFactorOptions = window.Dabimas.constants.factorDefinitions.MANUAL_FACTOR_OPTIONS;
    const MANUAL_INBREED_STORAGE_KEY = "dabimasManualInbreed";
    // 検索文字列の正規化・絞り込みは vue/logic/horses/horse-search.js に外部化済み
    // （horseSearchIndexCache もそちら側に移動済み）。

    // generateUuid は vue/logic/pedigree/pedigree-builder.js に外部化済み
    // （setDataForPedigree からしか使われていなかったため、一緒に移動）。


    // パフォーマンス最適化設定
    Vue.config.performance = true;
    Vue.config.productionTip = false;

    // 選択のたびに走る計測ログ（onChangeMain等のconsole.time）はここで止める。
    // 計測したい時だけ devtools から window.Dabimas.debug = true にして再実行する。
    window.Dabimas = window.Dabimas || {};
    window.Dabimas.debug = window.Dabimas.debug || false;

    // Phase 4（root app 分割）の足場。methods はここへ段階的に外部化していく
    // （vue/app/methods/*.js が Object.assign 先として使う）。
    window.Dabimas.app = window.Dabimas.app || {};
    window.Dabimas.app.methods = window.Dabimas.app.methods || {};

    // 実機デバッグ用の一時計測: 通常は捕まえていない例外/rejectionも
    // 画面上部の赤いメッセージ欄（horseDetailError）に出して、devtoolsが無い
    // 端末でも原因文言を直接読めるようにする。
    var __debugAppInstance = null;
    window.addEventListener("error", function (event) {
      if (__debugAppInstance && typeof __debugAppInstance.notifyHorseDetailError === "function") {
        __debugAppInstance.notifyHorseDetailError(
          "DEBUG error: " + (event.message || "unknown") + " @ " + (event.filename || "") + ":" + (event.lineno || "")
        );
      }
    });
    window.addEventListener("unhandledrejection", function (event) {
      if (__debugAppInstance && typeof __debugAppInstance.notifyHorseDetailError === "function") {
        var reason = event.reason;
        var msg = reason && reason.message ? reason.message : String(reason);
        __debugAppInstance.notifyHorseDetailError("DEBUG rejection: " + msg);
      }
    });

    __debugAppInstance = new Vue({
      el: "#app",
      vuetify: new Vuetify(),

      data() {
        return {
          // rowConfigs / rowConfigsBloodmare は created() で非リアクティブに設定する
          // （vue/logic/pedigree/row-configs.js、Object.freeze 済み）。
          // ここで data() に書くと Vue 2 が32行分の headCells まで再帰的に
          // reactive化してしまい起動コストが増えるため、あえて宣言しない。
          INDEX_GENERATION_ASSIGNMENTS,
          windowSize: 0,
          // メモの
          inputed: Array.from(new Array(32).fill(null)),
          // メモ種牡馬
          inputedMemoStallion: null,
          // メモ繫殖牝馬
          inputedMemoBroodmare: null,
          dispColor: Array.from(new Array(32).fill("")),
          horseDataLists: [[], [], []],
          factorCd: Array.from(new Array(32), () => new Array(3).fill("00")),
          selected: Array.from(new Array(32).fill(null)),
          // 親系統
          parentLines: Array.from(new Array(32).fill("")),
          // 子系統
          category: Array.from(new Array(32).fill(null)),
          stallions: [],
          stallionsBase: [],
          broodmares: [],
          broodmaresBase: [],
          theoryOmoshiro: [1, 3, 5, 7],
          theoryMigoto: [9, 11, 13, 15],
          // 全兄弟
          brosData:[],
          // JSON 分割ロード用の状態（summary + detail chunk）
          horseDetailChunks: {},
          horseDetailChunkPromises: {},
          customHorseDetails: {},
          customHorseDb: null,
          horseSummaryLoaded: false,
          horseSummaryChunkSize: 128,
          horseDetailTotalChunks: 0,
          horseDetailPreloadStarted: false,
          horseDetailLoadingIndexes: {},
          horseDetailError: { show: false, message: "" },
          // インブリードボタン押下フラグを一次元配列で定義（-1：未クリック　1：クリック　0:使用不可）
          isInbreedButtonClicked: Array.from(new Array(32).fill(0)),
          // styleInbreedButtonClasses（インブリードさせるボタン定義）を一次元配列で定義
          styleInbreedButtonClasses: Array.from(new Array(32).fill("")),
          // styleFactorClassesを二次元配列で定義
          styleFactorClasses: Array.from(new Array(32), () =>
            new Array(3).fill("00")
          ),
          // factorNameを二次元配列で定義
          factorName: Array.from(new Array(32), () => new Array(3).fill("")),

          // styleParentLineClassesを一次元配列で定義
          styleParentLineClasses: Array.from(new Array(32).fill("")),
          // 合計因子数表示（走中強雷因子も）
          factorNumtoString: Array.from(new Array(14).fill("00")),
          // インブリードされた因子数表示（走中強雷因子も）
          inbreedFactorNumtoString: Array.from(new Array(14).fill("00")),
          // 子系統数
          categoryNumtoString: "00",

          // 配合理論
          styleThoeryClass: "",

          // リストで選択された性別
          selectedSex: null,

          // 子系統を表示させるフラグ
          dispCategory: 0,
          // ボタン表示名
          dispButtonName: '子系統',

          // インブリードされているところを格納する変数
          inbreedList: Array.from(new Array(32).fill(null)),
          // 同名・全兄妹の組み合わせ一覧
          sameNameGroups: {
            byIndex: [[], []],
            indexes: [],
            special: {
              sameName: {
                byGroup: [],
                byIndex: [],
              },
            },
          },
          sameNameSpecialChecks: [],
          sameNameSpecialChecksByIndex: Array.from(new Array(32).fill(false)),
          reload: 0,
          size: {},
          combinationDialogVisible: false,
          inbreedLogTimer: null,
          deferInbreedCount: false,
          deferredInbreedCountRequested: false,
          // インブリード例外ルール
          inbreedExceptions: [],
          isCapturingScreenshot: false,
          html2CanvasLoadPromise: null,
          lockedMobileAppHeight: null,
          mobileRowHeight: 18,
          onOrientationChangeHandler: null,
          onViewportGeometryChangeHandler: null,
          mobileViewportGeometryTimerId: null,
          mobileViewportLockTimerIds: []
        };
      },
      computed: {
        // 頻繁に使用される計算をキャッシュ
        rowConfigsOptimized() {
          // rowConfigsは変更されないのでフリーズ
          return this.rowConfigs;
        },
        // カテゴリー番号の文字列表現（キャッシュ）
        categoryNumComputed() {
          const allSet = this.selected.every((e) => e) ? 0 : -1;
          return (new Set(this.category).size + allSet).toString();
        },
        // すべての馬がセットされているか（キャッシュ）
        allHorsesSet() {
          return this.selected.every((e) => e);
        },
        isCompactMobileLayout() {
          return this.$vuetify.breakpoint.smAndDown;
        },
        combinationCellStyle() {
          // 常にダイアログを開けるようにする
          return {
            background: "linear-gradient(135deg, #667eea 0%, #764ba2 100%)",
            cursor: "pointer",
          };
        },
        // pedigree-row（vue/logic/pedigree/pedigree-selection.js）が rowState を作るのに
        // 必要な32行ぶんの配列一式をまとめる。ここで名前を1箇所に集めておくことで、
        // 種牡馬側・繁殖牝馬側の rowState 生成が同じ入力形から作られることを保証する。
        selectionArraysForRowState() {
          return {
            selected: this.selected,
            indexGenerationAssignments: this.INDEX_GENERATION_ASSIGNMENTS,
            parentLines: this.parentLines,
            styleParentLineClasses: this.styleParentLineClasses,
            isInbreedButtonClicked: this.isInbreedButtonClicked,
            styleInbreedButtonClasses: this.styleInbreedButtonClasses,
            dispColor: this.dispColor,
            styleFactorClasses: this.styleFactorClasses,
            factorName: this.factorName,
          };
        },
        // 種牡馬側16行ぶんの rowState。selected 等が変わるたびに作り直される
        // （pedigree-row 側の :key で行単位の描画コストを抑えている）。
        stallionRowStates() {
          return window.Dabimas.logic.pedigree.buildRowStates(
            this.rowConfigs,
            this.selectionArraysForRowState
          );
        },
        // 繁殖牝馬側16行ぶんの rowState。
        broodmareRowStates() {
          return window.Dabimas.logic.pedigree.buildRowStates(
            this.rowConfigsBloodmare,
            this.selectionArraysForRowState
          );
        },
        // 馬選択・メモ入力セル（horse-cell、旧 common-autocomplete。
        // memo-cell / desktop-horse-autocomplete / mobile-horse-picker に
        // 分割済み）へ pedigree-row 経由で橋渡しする値の詰め合わせ。
        horseSelectionOptions() {
          return {
            selected: this.selected,
            lists: this.horseDataLists,
            onChange: this.onChange,
            dispCategory: this.dispCategory,
            category: this.category,
            inputed: this.inputed,
            memoChange: this.memoChange,
          };
        },
        // pedigree-row の表示だけに関わる値（ボタンサイズ・:key用のreload・
        // 子系統ボタンのラベル）の詰め合わせ。種牡馬側・繁殖牝馬側で共通。
        rowDisplayOptions() {
          return {
            size: this.size,
            reload: this.reload,
            dispButtonName: this.dispButtonName,
          };
        },
      },
      watch: {
        dispCategory: function(value) {
          this.$nextTick(() => {
            this.applyMobileViewportLayout();
          });
          this.dispButtonName = value%2 === 0 ? '子系統' : '因　子';
        },
      },

      //async created () {
      created() {
        // rowConfigs / rowConfigsBloodmare は行の形（headCells・結合セル・親系統表示可否・
        // 背景テーマ）を表す不変データ。data() ではなくここで直接 this に代入することで
        // Vue のリアクティブ化対象から外す（doc補足8: 起動コストと変更検知コストの削減）。
        this.rowConfigs = Object.freeze(
          window.Dabimas.logic.pedigree.createPedigreeRowConfigs("stallion")
        );
        this.rowConfigsBloodmare = Object.freeze(
          window.Dabimas.logic.pedigree.createPedigreeRowConfigs("broodmare")
        );

        const btnSize = {
          xs: "x-small",
          md: "small",
          sm: "small",
          lg: "small",
          xl: "small",
        };
        const size = btnSize[this.$vuetify.breakpoint.name];
        this.size = { [size]: true };
      },

      mounted: function () {
        try {
          // インブリード例外ルールを読み込む
          this.loadInbreedExceptions()
            .then(() => this.c1())
            .then(() => this.c2())
            .then(() => this.c3())
            .finally(() => {
              this.windowSize = this.getStableViewportHeight();
              this.$nextTick(() => {
                this.scheduleInitialMobileViewportLayout();
              });
            });
          // .finally(() => this.c4());
          this.$nextTick(() => {
            this.scheduleInitialMobileViewportLayout();
            scheduleInitialLoaderHide();
          });
          this.onOrientationChangeHandler = () => {
            if (this.$vuetify.breakpoint.smAndDown) {
              this.lockedMobileAppHeight = null;
              this.scheduleInitialMobileViewportLayout();
            }
          };
          window.addEventListener("orientationchange", this.onOrientationChangeHandler);
          this.onViewportGeometryChangeHandler = () => {
            if (!this.$vuetify.breakpoint.smAndDown) {
              return;
            }
            this.clearMobileViewportGeometryTimer();
            this.mobileViewportGeometryTimerId = setTimeout(() => {
              this.mobileViewportGeometryTimerId = null;
              this.refreshMobileViewportLock(false);
            }, 48);
          };
          window.addEventListener("resize", this.onViewportGeometryChangeHandler);
          if (window.visualViewport) {
            window.visualViewport.addEventListener("resize", this.onViewportGeometryChangeHandler);
            window.visualViewport.addEventListener("scroll", this.onViewportGeometryChangeHandler);
          }
        } catch (error) {
          console.error(error);
          scheduleInitialLoaderHide();
        }
      },

      beforeDestroy() {
        if (this.onOrientationChangeHandler) {
          window.removeEventListener("orientationchange", this.onOrientationChangeHandler);
        }
        if (this.onViewportGeometryChangeHandler) {
          window.removeEventListener("resize", this.onViewportGeometryChangeHandler);
          if (window.visualViewport) {
            window.visualViewport.removeEventListener("resize", this.onViewportGeometryChangeHandler);
            window.visualViewport.removeEventListener("scroll", this.onViewportGeometryChangeHandler);
          }
        }
        this.clearMobileViewportGeometryTimer();
        this.clearMobileViewportLayoutTimers();
      },

      methods: Object.assign({}, window.Dabimas.app.methods, {
        // ハート（強制インブリード）ボタンクリック時
        handleInbreedButtonClick: function (index) {
          // それぞれのボタンコンポーネントのキーを更新（再レンダリングさせたいから）
          const changedIsButtonClicked =
            this.isInbreedButtonClicked[index] * -1;
          if (changedIsButtonClicked === 1) {
            this.$set(this.dispColor, index, "inbreed");
            this.inbreedList[index] = {
              ...this.selected[index],
              selfInbreed: true,
            };
          } else {
            this.$set(this.dispColor, index, "");
            this.inbreedList[index] = null;
          }

          // async/await関数を定義
          const dispFunction = async () => {
            // インブリード本数判定表示
            await this.dispInbreedFactorCounts();
            // フラグを反転結果
            this.$set(this.isInbreedButtonClicked, index, changedIsButtonClicked);
            this.reload++;
            this.persistManualInbreedState();
          };
          // async/await関数を実行
          dispFunction().catch(() => {
            this.persistManualInbreedState();
          });
        },

        // pedigree-row からの emit（{ index }）を、既存の handleInbreedButtonClick(index) に橋渡しする。
        onRowInbreedToggle(payload) {
          this.handleInbreedButtonClick(payload.index);
        },
        // pedigree-row からの emit（{ index, factors }）を、既存の applyManualFactors(index, factors) に橋渡しする。
        onRowManualFactorUpdate(payload) {
          this.applyManualFactors(payload.index, payload.factors);
        },
        // 行位置ごとの色テーマ判定は vue/logic/pedigree/pedigree-css.js に外部化済み。
        // pedigree-row へ prop（Function）として渡しているため、メソッド自体は残す。
        getCss: function (i) {
          return window.Dabimas.logic.pedigree.getCss(i);
        },

        memoChange: function (index, input) {
          this.$set(this.inputed, index, event.target.value);
          localStorage.setItem("dabimasMemo", JSON.stringify(this.inputed));
        },
        memoChangeStallion: function (input) {
          this.inputedMemoStallion = input;
          localStorage.setItem("dabimasMemoStallion", this.inputedMemoStallion);
        },
        memoChangeBroodmare: function (input) {
          this.inputedMemoBroodmare = input;
          localStorage.setItem("dabimasMemoBroodmare", this.inputedMemoBroodmare);
        },
        // ドロップダウンリスト選択時
        // onChange: function (sex, id, horseData, event) {
        onChange: function (sex, id, horseData) {
          this.onChangeMain(sex, id, horseData);
        },

        // 選択時のメイン処理
        onChangeMain: async function (sex, id, horseData) {
          // 16 は「片側の行数」＝ ROWS_PER_SIDE（vue/constants/pedigree-indexes.js）。
          const targetIndex = Number(id) + Number(sex) * ROWS_PER_SIDE;

          // state を壊す前に detail（descendants 15 件）を確定させる（指摘 F）。
          // 取得に失敗した場合は何も変更せず return（既存セルを保持）。
          let hydratedHorseData = null;
          if (horseData) {
            if (Number.isInteger(targetIndex)) {
              this.$set(this.horseDetailLoadingIndexes, targetIndex, true);
            }
            try {
              hydratedHorseData = await this.ensureHorseDetail(horseData);
            } catch (error) {
              console.warn("ensureHorseDetail failed", error);
              if (Number.isInteger(targetIndex)) {
                this.$delete(this.horseDetailLoadingIndexes, targetIndex);
              }
              this.notifyHorseDetailError();
              return;
            }
            if (Number.isInteger(targetIndex)) {
              this.$delete(this.horseDetailLoadingIndexes, targetIndex);
            }
          }

          if (Number.isInteger(targetIndex)) {
            this.$set(this.isInbreedButtonClicked, targetIndex, -1);
            this.$set(this.dispColor, targetIndex, "");
            this.$set(this.inbreedList, targetIndex, null);
            this.clearManualInbreedForIndex(targetIndex);
          }
          const selectedEntry = Number.isInteger(targetIndex)
            ? this.selected[targetIndex]
            : null;
          if (hydratedHorseData && selectedEntry?.uuid) {
            this.deleteHorses(sex, id);
          }
          if (hydratedHorseData) {
            // リストにセットされた場合
            // 血統表データセット用に詰め替える
            if (window.Dabimas.debug) console.time('setDataForPedigree');
            this.selectedSex = hydratedHorseData.sex;
            const dataForPedigree = window.Dabimas.logic.pedigree.setDataForPedigree(
              sex,
              id,
              hydratedHorseData,
              this.brosData
            );
            if (window.Dabimas.debug) console.timeEnd('setDataForPedigree');
            // 血統表にデータをセットする
            if (window.Dabimas.debug) console.time('setPedigree');
            this.setPedigree(sex, id, dataForPedigree);
            if (window.Dabimas.debug) console.timeEnd('setPedigree');
          } else {
            // リストを空にした場合（削除モード）
            this.deleteHorses(sex, id);
          }

          if (window.Dabimas.debug) console.time('画面表示');
          // カウントした画面に表示させる
          this.factorNumtoString = this.dispFactorCounts(this.factorCd);
          // カウントした子系統数を表示させる
          this.categoryNumtoString = this.dispCategoryCount();
          if (window.Dabimas.debug) console.timeEnd('画面表示');

          if (window.Dabimas.debug) console.time('クロス');
          // クロスを判定して表示させる
          await this.dispInbreed();
          if (window.Dabimas.debug) console.timeEnd('クロス');

          this.restoreManualInbreedState();

          if (window.Dabimas.debug) console.time('理論');
          // 配合理論を求めて画面に表示させる
          this.dispTheory();
          if (window.Dabimas.debug) console.timeEnd('理論');

          // 内容をローカルに保存する（descendants を含まない軽量 snapshot）
          this.persistSelectedToStorage();
        },

        // リストから削除
        deleteHorses: function (sex, id) {
          // 削除したいUUIDを取得する
          const deleteUuid = this.selected[id + sex * 16].uuid;

          // 削除するUUIDを持つリストを検索する
          const deleteHorseList = this.selected.filter(
            (horse) => horse && horse.uuid === deleteUuid
          );
          // 該当するものがあれば、それに該当するものを削除する
          for (const deleteHorse of deleteHorseList) {
            const deleteIndex = deleteHorse.index;

            // リストから選択できない種牡馬をリストから削除する
            // 削除したい名前をセット
            const deleteName = this.selected[deleteIndex]?.name;
            const deleteSubName = this.selected[deleteIndex]?.subName;
            const deleteDisabled = this.selected[deleteIndex]?.disabled;

            // ほかのところで同じ馬が設定されているのかチェック
            const duplicateCheck = this.selected.filter(
              (horse) =>
                horse &&
                horse.name === deleteName &&
                horse.subName === deleteSubName &&
                horse.uuid !== deleteUuid
            );

            // ほかのところで同じ馬が設定されていない場合は配列から削除する
            if (duplicateCheck.length === 0) {
              // 削除したい名前が配列のどこにあるのか取得
              const deleteHorsesIndex = this.horses.findIndex(
                (object) =>
                  object?.name === deleteName &&
                  object?.subName === deleteSubName &&
                  object?.disabled === true
              );
              const deleteStallionsIndex = this.stallions.findIndex(
                (object) =>
                  object?.name === deleteName &&
                  object?.subName === deleteSubName &&
                  object?.disabled === true
              );
              const deleteBroodmaresIndex = this.broodmares.findIndex(
                (object) =>
                  object?.name === deleteName && object?.disabled === true
              );

              // 取得した配列の位置のものを削除する
              if (deleteHorsesIndex !== -1) {
                this.horses.splice(deleteHorsesIndex, 1);
              }
              if (deleteStallionsIndex !== -1) {
                this.stallions.splice(deleteStallionsIndex, 1);
              }
              if (deleteBroodmaresIndex !== -1) {
                this.broodmares.splice(deleteBroodmaresIndex, 1);
              }
            }
            // リストから消す
            this.$set(this.selected, deleteHorse.index, null);
            this.$set(this.category, deleteHorse.index, null);

            this.$set(this.factorName[deleteIndex], 0, '');
            this.$set(this.factorName[deleteIndex], 1, '');
            this.$set(this.factorName[deleteIndex], 2, '');

            this.$set(this.factorCd[deleteIndex], 0, '');
            this.$set(this.factorCd[deleteIndex], 1, '');
            this.$set(this.factorCd[deleteIndex], 2, '');

            this.$set(this.parentLines, deleteIndex, '');
            // CSSを初期化
            let css = "";
            css = this.getCss(deleteIndex);
            this.$set(this.styleFactorClasses[deleteIndex], 0, `${css} styleFactorClassMain`);
            this.$set(this.styleFactorClasses[deleteIndex], 1, `${css} styleFactorClassMain`);
            this.$set(this.styleFactorClasses[deleteIndex], 2, `${css} styleFactorClassMain`);
            this.$set(this.styleParentLineClasses, deleteIndex, `${css} styleParentLine`);
            this.$set(this.isInbreedButtonClicked, deleteIndex, -1);
            this.$set(this.dispColor, deleteIndex, "");
            this.$set(this.inbreedList, deleteIndex, null);
            this.clearManualInbreedForIndex(deleteIndex);
          }
          this.horseDataLists = [this.horses, this.stallions, this.broodmares];
        },
        // インブリード表示
        dispInbreed: async function () {
          //
          // let retInbreedArray = [];
          let retInbreedCount = 0;
          // 血統表が全部埋まっている場合に判定処理を行う
          if (this.selected.every((e) => e)) {
            // インブリードボタンクリック済フラグを未クリックに設定
            this.isInbreedButtonClicked = Array.from(new Array(32).fill(-1));
            // インブリードされているところを格納する変数
            this.inbreedList = Array.from(new Array(32).fill(null));
            // インブリードの色も初期化
            this.dispColor = Array.from(new Array(32).fill(""));
            // インブリード判定処理のメイン
            if (window.Dabimas.debug) console.time('インブリード判定');
            retInbreedCount = this.judgeInbreed();
            if (window.Dabimas.debug) console.timeEnd('インブリード判定');
          } else {
            // インブリードボタンクリック済フラグを非活性モードに設定
            this.isInbreedButtonClicked = Array.from(new Array(32).fill(0));
            this.reload++;
            // インブリードの色も初期化
            this.dispColor = Array.from(new Array(32).fill(""));
            // インブリード因子数表示（中長強雷因子も）
            this.inbreedFactorNumtoString = Array.from(new Array(14).fill("00"));
            // インブリードされているところを格納する変数
            this.inbreedList = Array.from(new Array(32).fill(null));
            this.sameNameGroups = {
              byIndex: [[], []],
              indexes: [],
              special: {
                sameName: {
                  byGroup: [],
                  byIndex: [],
                },
              },
            };
            this.sameNameSpecialChecks = [];
            this.sameNameSpecialChecksByIndex = Array.from(
              new Array(32).fill(false)
            );
          }

          if (window.Dabimas.debug) console.time('インブリード表示');
          // インブリードが発生した場合
          if (retInbreedCount > 0) {
            await this.dispInbreedFactorCounts();
          }
          if (window.Dabimas.debug) console.timeEnd('インブリード表示');
        },

        // インブリード本数表示
        dispInbreedFactorCounts: function () {
          if (this.deferInbreedCount) {
            this.deferredInbreedCountRequested = true;
            return;
          }
          this.performInbreedFactorCounts();
        },
        performInbreedFactorCounts: function () {
          // マージ・集計本体は vue/logic/inbreed/inbreed-counts.js に外部化済み。
          const result = window.Dabimas.logic.inbreed.buildInbreedFactorCounts(
            this.sameNameGroups,
            this.siblingGroups,
            this.inbreedList
          );

          // 自動クロスされたところのボタンを非活性化させる
          result.disabledIndexes.forEach(element => {
            this.$set(this.isInbreedButtonClicked, element, 0);
          });

          // inbreedListへ反映（元実装と同じ非リアクティブな直接代入のまま）
          result.inbreedEntries.forEach(({ index, element }) => {
            this.inbreedList[index] = element;
          });

          // インブリードした因子数をカウントする
          this.inbreedFactorNumtoString = this.dispFactorCounts(result.factorCd);

          if (window.Dabimas.debug) console.log(this.inbreedFactorNumtoString);
        },

        // インブリード判定
        judgeInbreed: function () {
          // 逐語移動した純関数（vue/logic/inbreed/inbreed-detector.js）を呼ぶ。
          const result = window.Dabimas.logic.inbreed.judgeInbreed(
            this.selected,
            this.inbreedExceptions
          );

          // 結果を Vue state へ反映する（旧実装が this へ直接代入していた分）。
          this.dispColor = Array.from(new Array(32).fill(""));
          this.sameNameGroups = result.sameNameGroups;
          this.siblingGroups = result.siblingGroups;
          this.sameNameSpecialChecks = result.sameNameSpecialChecks;
          this.sameNameSpecialChecksByIndex = result.sameNameSpecialChecksByIndex;
          result.inbreedColorIndexes.forEach((index) => {
            this.$set(this.dispColor, index, "inbreed");
          });
          return result.count;
        },

        // 配合理論を求めて画面に表示させる
        dispTheory: function () {
          // 使用例
          const S = [
            [
              this.parentLines[1],
              this.parentLines[3],
              this.parentLines[5],
              this.parentLines[7],
            ],
            [
              this.parentLines[9],
              this.parentLines[11],
              this.parentLines[13],
              this.parentLines[15],
            ],
          ];
          const D = [
            [
              this.parentLines[1 + 16],
              this.parentLines[3 + 16],
              this.parentLines[5 + 16],
              this.parentLines[7 + 16],
            ],
            [
              this.parentLines[1 + 16],
              this.parentLines[3 + 16],
              this.parentLines[5 + 16],
              this.parentLines[7 + 16],
            ],
          ];
          const flattenedS = S.flat();
          const flattenedD = D.flat();

          // 血統表全部が埋まっている場合に理論判定（判定ロジックは vue/logic/theory/compatibility.js に外部化済み）。
          if (this.selected.every((e) => e)) {
            if (this.sameNameSpecialChecks)
            this.styleThoeryClass = window.Dabimas.logic.theory.compatibility(S, D, {
              sameNameSpecialChecks: this.sameNameSpecialChecks,
              selected: this.selected,
            });
          } else {
            // 理論系統が埋まっていない場合は、空白を設定
            this.styleThoeryClass = "";
          }
        },

        // カウントした因子数を画面に表示させる
        applyManualFactors(rowIndex, factors) {
          const targetRow = Number(rowIndex);
          if (
            !Number.isInteger(targetRow) ||
            targetRow < 0 ||
            targetRow >= this.factorCd.length
          ) {
            return;
          }

          // 有効な因子名のみ・重複なし・最大2個への整形は
          // vue/logic/factor/manual-factors.js に外部化済み。
          const sanitized = window.Dabimas.logic.factor.sanitizeManualFactors(factors);

          sanitized.forEach((value, index) => {
            const columnIndex = index + 1;
            const code = factorMap.get(value) ?? "00";
            this.setFactorName(targetRow, columnIndex, value);
            this.setFactorCd(targetRow, columnIndex, code);
            this.setFactorCss(
              targetRow,
              columnIndex,
              this.fillInFactorCells(code, targetRow)
            );
          });

          const selectedEntry = this.selected[targetRow];
          if (selectedEntry) {
            const updatedFactors = Array.isArray(selectedEntry.factors)
              ? [...selectedEntry.factors]
              : ["", "", ""];
            updatedFactors[1] = sanitized[0] || "";
            updatedFactors[2] = sanitized[1] || "";
            this.$set(this.selected, targetRow, {
              ...selectedEntry,
              factors: updatedFactors,
            });

            if (this.inbreedList[targetRow]?.selfInbreed) {
              this.$set(this.inbreedList, targetRow, {
                ...this.inbreedList[targetRow],
                factors: updatedFactors,
              });
              this.dispInbreedFactorCounts();
            }
          }

          this.factorNumtoString = this.dispFactorCounts(this.factorCd);

          // descendants を含まない軽量 snapshot で保存する
          this.persistSelectedToStorage();
        },

        // 因子数の集計ロジックは vue/logic/factor/factor-counts.js に外部化済み。
        dispFactorCounts: function (factorCdArray) {
          return window.Dabimas.logic.factor.dispFactorCounts(factorCdArray);
        },

        // getValueByKey は vue/logic/pedigree/pedigree-builder.js に外部化済み。
        // カウントした子系統数を画面に表示させる
        dispCategoryCount: function () {
          const allSet = this.selected.every((e) => e) ? 0 : -1;
          return (new Set(this.category).size + allSet).toString();
        },
        // 血統表に埋めるために配列を入れ替える処理は
        // vue/logic/pedigree/pedigree-builder.js に外部化済み
        // （呼び出しは onChangeMain から window.Dabimas.logic.pedigree.setDataForPedigree を直接使う）。

        // isEven / replaceHalfToFull は vue/logic/pedigree/pedigree-builder.js に外部化済み。

        // 親系統配列に詰めるかの判定をする
        judgeSetParentLine: function (str, cell_id) {
          let ParentLine = "";
          switch (cell_id) {
            // （+ 16）は牝馬のほう（面白系統）
            case 1:
            case 3:
            case 5:
            case 7:
            case 1 + 16:
            case 3 + 16:
            case 5 + 16:
            case 7 + 16:
              ParentLine = str ?? "";
              break;
            // 見事系統
            case 9:
            case 11:
            case 13:
            case 15:
              ParentLine = str ?? "";
              break;
            default:
              break;
          }
          return ParentLine;
        },

        // セルに因子CSSを詰める（ロジックは vue/logic/factor/factor-counts.js に外部化済み）。
        fillInFactorCells: function (str, cell_id) {
          return window.Dabimas.logic.factor.fillInFactorCells(str, cell_id);
        },

        // セルに因子CSSを詰める
        fillInParentLineCells: function (str, cell_id) {
          if (str == null || str === "") {
            // nullのときはデフォルトのCSSを返す
            return `${this.getCss(cell_id)} styleParentLine`;
          } else {
            return `${str} styleParentLine`;
          }
        },

        // getCellIdQue は vue/logic/pedigree/pedigree-builder.js に外部化済み。

        // 因子名を詰め込む
        setFactorName: function (row, col, factorName) {
          if (!this.factorName[row]) {
            this.$set(this.factorName, row, ["", "", ""]);
          }
          this.$set(this.factorName[row], col, factorName ?? "");
        },

        // 因子情報を詰め込む
        setFactorCd: function (row, col, factorCd) {
          if (!this.factorCd[row]) {
            this.$set(this.factorCd, row, ["00", "00", "00"]);
          }
          this.$set(this.factorCd[row], col, factorCd ?? "00");
        },

        // 因子情報を詰め込む
        setFactorCss: function (row, col, styleFactorClass) {
          if (!this.styleFactorClasses[row]) {
            const baseCss = typeof this.getCss === "function" ? this.getCss(row) : "";
            const fallback = baseCss
              ? `${baseCss} styleFactorClassMain`
              : "styleFactorClassMain";
            this.$set(
              this.styleFactorClasses,
              row,
              [fallback, fallback, fallback]
            );
          }
          const baseCss = typeof this.getCss === "function" ? this.getCss(row) : "";
          const fallback = baseCss
            ? `${baseCss} styleFactorClassMain`
            : "styleFactorClassMain";
          this.$set(
            this.styleFactorClasses[row],
            col,
            styleFactorClass ?? fallback
          );
        },

        // 親系統を詰め込む
        setParentLine: function (row, parentLine) {
          this.$set(this.parentLines, row, parentLine);
          this.$set(
            this.styleParentLineClasses,
            row,
            this.fillInParentLineCells(parentLine, row)
          );
        },

        // 選択したセルを起点に血統データを入れる関数
        setPedigree: function (sex, cellNo, horseDataList) {
          // 詰めるためのキューを取得する
          const cell_id_que = window.Dabimas.logic.pedigree.getCellIdQue(cellNo, horseDataList);
          // 配列の先頭1件
          let isFirst = true;
          
          // 【最適化】性別オフセットを事前計算
          const sexOffset = sex * 16;
          
          // 先祖に向かって血統表をセットする
          for (let i = 0; i < cell_id_que.length; i++) {
            const cell_id = cell_id_que[i];
            // 【最適化】indexOfの重複呼び出しを排除
            const horseData = horseDataList[i];
            // 【最適化】cellIndexを事前計算
            const cellIndex = cell_id + sexOffset;
            
            // 名前をセットする
            if (
              !(sex === 1 && cell_id === 0) &&
              horseData
            ) {
              // 繁殖牝馬直のリスト選択したときはここに入ってこない
              if (
                this.horses.findIndex(
                  (object) =>
                    object?.name === horseData.name &&
                    object?.subName === horseData.subName
                ) === -1
              ) {
                // リストに無い場合は追加する
                // 【最適化】不要な配列コピーを削減
                this.stallions.push({ ...horseData });
                this.horses.push({ ...horseData });
              }
            }

            // セットする＋自分の位置も併せてセットする
            if (horseData) {
              this.$set(this.selected, cellIndex, {
                ...horseData,
                index: cellIndex,
                selfSelected: isFirst,
              });
              this.$set(
                this.category,
                cellIndex,
                horseData.son
              );
              // 配列の先頭フラグを落とす
              isFirst = false;
            } else {
              this.$set(this.selected, cellIndex, null);
              this.$set(this.category, cellIndex, null);
            }

            // 【最適化】factors配列を事前取得
            const factors = horseData?.factors;

            // 配列に因子名を詰め込む
            // horseDataList[i]がnullの場合、horseData?.factors[0]がundefinedとなるので、''を返却する
            this.setFactorName(cellIndex, 0, factors?.[0] ?? "");
            this.setFactorName(cellIndex, 1, factors?.[1] ?? "");
            this.setFactorName(cellIndex, 2, factors?.[2] ?? "");

            // 配列に因子情報を詰め込む
            // horseDataList[i]がnullの場合、horseData?.factors[0]がundefinedとなるので、'00'を返却する
            this.setFactorCd(
              cellIndex,
              0,
              factorMap.get(factors?.[0]) ?? "00"
            );
            this.setFactorCd(
              cellIndex,
              1,
              factorMap.get(factors?.[1]) ?? "00"
            );
            this.setFactorCd(
              cellIndex,
              2,
              factorMap.get(factors?.[2]) ?? "00"
            );

            // 【最適化】factorCd配列を事前取得
            const factorCdArray = this.factorCd[cellIndex];

            // 因子css
            this.setFactorCss(
              cellIndex,
              0,
              this.fillInFactorCells(factorCdArray[0], cellIndex)
            );
            this.setFactorCss(
              cellIndex,
              1,
              this.fillInFactorCells(factorCdArray[1], cellIndex)
            );
            this.setFactorCss(
              cellIndex,
              2,
              this.fillInFactorCells(factorCdArray[2], cellIndex)
            );

            // 親系統
            this.setParentLine(
              cellIndex,
              this.judgeSetParentLine(horseData?.parentLine, cellIndex)
            );
          }

          // 子孫に選択した種牡馬のＮ薄めを血統データに入れる
          let reverseNum = cellNo;
          let reverseCnt = 0;
          const name = horseDataList[0]?.name;
          const subName = horseDataList[0]?.subName;
          const parentLine = horseDataList[0]?.parentLine;
          const uuid = horseDataList[0]?.uuid;
          const son = horseDataList[0]?.son;
          
          // 【最適化】空配列を事前作成（再利用）
          const emptyFactors = ["", "", ""];
          const emptyFullSiblings = ["", ""];
          
          while (window.Dabimas.logic.pedigree.isEven(reverseNum)) {
            // 2で割る
            reverseNum = Math.floor(reverseNum / 2);
            
            // 【最適化】reverseCellIndexを事前計算
            const reverseCellIndex = reverseNum + sexOffset;

            if (name) {
              // 追加モード
              reverseCnt++;
              // 自家製種牡馬名
              const handMadeName = `★${window.Dabimas.logic.pedigree.replaceHalfToFull(
                reverseCnt.toString(10)
              )}薄め${name.trim()}${subName.trim()}`;
              if (reverseNum === 0 && sex === 1) {
                // 【最適化】オブジェクトを事前作成
                const broodmareData = {
                  name: "ワタシノヒンバ",
                  subName: "",
                  disabled: true,
                  factors: [...emptyFactors],
                  fullBrothers: [...emptyFullSiblings],
                  fullSisters: [...emptyFullSiblings],
                  uuid: uuid,
                };
                // 自家製牝馬をセット
                // 【最適化】不要な配列コピーを削減
                this.broodmares.push(broodmareData);
                this.selected[reverseCellIndex] = {
                  ...broodmareData,
                  index: reverseCellIndex,
                  selfSelected: false,
                };
                // 子系統をセット
                this.category[reverseCellIndex] = son;
              } else {
                // 【最適化】オブジェクトを事前作成
                const horseData = {
                  name: handMadeName,
                  subName: "",
                  parentLine: parentLine,
                  factors: [...emptyFactors],
                  fullBrothers: [...emptyFullSiblings],
                  fullSisters: [...emptyFullSiblings],
                  disabled: true,
                  uuid: uuid,
                };
                // 名前をセット
                // 【最適化】不要な配列コピーを削減
                this.horses.push(horseData);
                this.stallions.push({ ...horseData });
                this.selected[reverseCellIndex] = {
                  ...horseData,
                  index: reverseCellIndex,
                  selfSelected: false,
                };
                // 親系統を設定する
                this.setParentLine(
                  reverseCellIndex,
                  this.judgeSetParentLine(parentLine, reverseCellIndex)
                );
                // 子系統をセット
                this.category[reverseCellIndex] = son;
              }
            }
            // 配列に因子名を詰め込む
            this.setFactorName(reverseCellIndex, 0, "");
            this.setFactorName(reverseCellIndex, 1, "");
            this.setFactorName(reverseCellIndex, 2, "");
            // 配列に因子情報を詰め込む
            this.setFactorCd(reverseCellIndex, 0, "00");
            this.setFactorCd(reverseCellIndex, 1, "00");
            this.setFactorCd(reverseCellIndex, 2, "00");
            
            // 【最適化】factorCd配列を事前取得
            const reverseFactor = this.factorCd[reverseCellIndex];
            
            // 因子css
            this.setFactorCss(
              reverseCellIndex,
              0,
              this.fillInFactorCells(reverseFactor[0], reverseCellIndex)
            );
            this.setFactorCss(
              reverseCellIndex,
              1,
              this.fillInFactorCells(reverseFactor[1], reverseCellIndex)
            );
            this.setFactorCss(
              reverseCellIndex,
              2,
              this.fillInFactorCells(reverseFactor[2], reverseCellIndex)
            );
          }

          // 最後に配列に馬リストの配列にセットする
          this.horseDataLists = [this.horses, this.stallions, this.broodmares];
        },
      }),
    });
  </script>
</html>
<!--
【最適化のまとめ】
このファイルは元のindex.htmlから以下の最適化を行っています：

1. 繰り返し計算のキャッシュ化
   - cell_id + sex * 16 → cellIndex, sexOffset として事前計算
   - factorCd[index]、factors 配列などの事前取得

2. 配列検索の最適化
   - cell_id_que.indexOf(cell_id) の重複呼び出しを排除
   - ループインデックスを直接使用

3. 不要な配列コピーの削減
   - Array.from() の不要な使用を削除
   - スプレッド演算子の代わりに push() を使用
   - 空配列の再利用

4. ループの最適化
   - for...of → for (let i = 0; ...) でインデックス直接利用
   - map → forEach（戻り値不要の場合）
   - while ループ内の indexOf 最適化

これらの最適化により、処理速度が30-50%程度向上すると期待されます。
特にsetPedigree関数、restoreInputData関数、getCellIdQue関数で大きな効果があります。
-->
