<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://unpkg.com/vue-select@3.1.0/dist/vue-select.js"></script> 
<link rel="stylesheet" href="https://unpkg.com/vue-select@3.1.0/dist/vue-select.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
		body {
		  background: #20262E;
		  padding: 20px;
		  font-family: Helvetica;
		}

		#app {
		  background: #fff;
		  border-radius: 4px;
		  padding: 20px;
		  transition: all 0.2s;
		}

		p{
		  padding:10px;
		}
    </style>
</head>

<body>
	<div id="app">
	  <v-select v-bind:options="factor" v-model="selected[0]" style="width:300px;"><span slot="no-options">検索候補がありません</span></v-select>
		<p>
	  値：{{selected[0].label}}
	  	</p>

	  <v-select v-bind:options="factor" v-model="selected[1]" style="width:300px;"><span slot="no-options">検索候補がありません</span></v-select>
	    <p>
	  値：{{selected[1]}}
	  </p>


	</div>
</body>

<script>
	const VueSelect = window.VueSelect;

	Vue.component('v-select', VueSelect.VueSelect)

	new Vue({
		el: '#app',
		data: {
			selected:[''],
			factor: [],
			// factor: [
			// 	{ id: 0, label: 'サンデーサイレンス覇閃' },
			// 	{ id: 1, label: 'ブライアンズタイム瞬天' },
			// 	{ id: 2, label: 'ノーザンテースト禊閃' }
			// ],
},
		mounted: function(){
			console.log('a');
			this.dbinitializer();
			
			//
			console.log('f');
			//console.log(options);
			//console.log(factor);
		},
		methods: {
			initializer(){
				console.log('b');
				this.factor = [];
				//console.log(json.factor);
	    	},
			dbinitializer(){
				console.log('c');
				this.initializer();
				console.log('d');
				fetch('./json/factor.json')
					.then(response => {
						return response.json();
					})
					.then(json => {
						console.log('e');
						this.factor = json.factor;
						console.log(this.factor[0].label);
						// console.log(options);
					})
			}
		}
	})
</script>

